html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: helvetica, arial, sans;
  line-height: 1.5;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/*GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h2, h4 {
  color: #999;
  font-weight: bold;
}
.content-container {
  flex: 1 1 auto;
  width: 100%;
}

/* FORM STYLES */
input {
  height: 5vh;
}
textarea {
  height: 30vh;
}
.input-form {
  border: 2px solid #00b6ff;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  padding: 1vh 1vh;
  margin: 4vh 0;
  text-align: left;
  width: 100%;
}
.input-form:focus {
  border: 2px dashed #00b6ff;
}
.submit-button {
  background-color: #00b6ff;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 1vh 1vh;
}

/* PAGE STYLES */
.page {
  margin: 10vh auto 15vh;
  max-width: 980px;
  width: 85vw;
}
.page a {
  color: #00b6ff;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
}
.page a:hover, .page a:active {
  color: #000;
}
.page h1 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
}
.page h2 {
  margin: 2em 0 1em;
}
.page h4 {
  margin: 1em 0;
}

/* BLOG STYLES */
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-top: 4em;
  padding-top: 4em;
}
.blog-posts .post-header {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
  text-transform: capitalize;
}
.blog-posts .posts-image {
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin-bottom: 1.5em;
}
.post {
  width: 100%;
}
.post p {
  margin-bottom: 1em;
}
.post .figure {
  margin: 1.5em 0;
  text-align: center;
}
.post .img-caption {
  font-size: 0.8em;
  font-style: italic;
  text-transform: lowercase;
}
.post .image {
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-bottom: 0.5em;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
  text-transform: capitalize;
}
.post-aside {
  float: right;
  font-size: 0.8em;
  margin: 0 0 2em 2em;
  padding: 1em 2em;
  border: 3px dashed #00b6ff;
  border-radius: 4px;
  box-sizing: border-box;
  width: 15vw;
}
.post-aside ul {
  list-style: none;
}
.post-aside li {
  margin-bottom: 1em;
}
.post-aside a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
.post-aside a:hover, .page a:active {
  color: #00b6ff;
}
.post-byline {
  font-size: 0.9rem;
  font-style: italic;
}
.post-content,
.post-footer {
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.post-content {
  font-size: 1.1rem;
}
.post-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-style: italic;
  font-size: 0.8em;
  margin-top: 3em;
  padding-top: 2em;
}
.post .bullets {
  padding: 0 2em;
  margin-bottom: 1em;
}
.post .bullets li {
  list-style: none;
}
.post .bullets li:before {
  content: "\f101";
  font-family: FontAwesome;
  margin-right: 1em;
}
.post-stats li {
  line-height: 2;
  list-style: none;
  margin: 0;
}

/* HEADER STYLES */
.header {
  align-items: center;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 15vh;
  margin-bottom: 6vh;
  width: 100%;
}
.header-logo {
  background-color: #fff;
  box-sizing: border-box;
  display: block;
  flex: 1 1 auto;
  text-align: center;
}
.header-logo img {
  width: 15vh;
}
.header-nav {
  flex: 1 1 auto;
  text-align: center;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1em;
}
.header-nav a {
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
}
.header-nav a:hover, .header-nav a:active {
  color: #00b6ff;
}
.header-nav > li:last-child a {
  color: #00b6ff;
}
.header-nav > li:last-child a:hover {
  color: #000;
}

/* FOOTER STYLES */
.footer {
  background-color: #000;
  padding: 2vh 0;
  text-align: center;
}
.footer-text {
  color: #fff;
}

/* HERO STYLES */
.full-hero {
  background-color: #fff;
  background-size: cover;
  box-sizing: border-box;
  height: 85vh;
}
.hero-content {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: lowercase;
  top: 50%;
  transform: translate(0, -50%);
}
.hero-content h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 9vw;
  margin-bottom: 0.4em;
}
.hero-content h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2vw;
  font-style: italic;
  margin-bottom: 2em;
}
.hero-about {
  background-image: url(/images/about-us-square.jpg);
  background-position: 40% 40%;
}
.hero-contact {
  background-image: url(/images/contact.jpg);
  background-position: 40% 40%;
}
.hero-home {
  background-image: url(/images/dientes-edu.jpg);
  background-position: center center;
}
.hero-posts {
  background-position: center center;
}

/* CALLOUT STYLES */
.callout-story {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 5vh 18vw;
}
.callout-copy {
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 0.8rem;
  line-height: 2;
  text-align: center;
}
.callout-copy h3 {
  font-size: 1rem;
  font-style: italic;
}
.callout-title {
  flex: 0 1 auto;
  font-size: 5vw;
  text-align: center;
  padding-bottom: 1.5vh;
}

/*SOCIAL LINKS*/
.social-link {
  background: rgba(0, 0, 0, .9);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.5em;
}
.social-link:hover, .social-link:active {
  opacity: 0.7;
}
.social-list {
  list-style: none;
  padding: 0;
}
.social-list li {
  display: inline-block;
}
.fixed-social {
  position: fixed;
  top: 40vh;
  right: 5vh;
  z-index: 25;
}
.fixed-social li {
  display: block;
}
.share-bar {
  margin: 2em 0;
}
.share-bar .social-link {
  background: #fff;
  border: 0.1em solid #000;
  color: #000;
  margin-left: 1em;
  padding-top: 0.75em;
}
