html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'Open Sans', helvetica, arial, sans;
  line-height: 1.5;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/*GLOBAL STYLES */
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6 {
  color: #555;
  font-family: 'Raleway', helvetica, sans;
  font-weight: 100;
}
h1 {
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
}
h1, h2, h3, h4 {
  font-weight: bold;
}
.content-container {
  flex: 1 1 auto;
  width: 100%;
}

/* FORM STYLES */
input {
  height: 5vh;
}
textarea {
  height: 30vh;
}
.input-form {
  border: 2px solid #057D9F;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  margin: 4vh 0;
  padding: 1vh 1vh;
  text-align: left;
  width: 100%;
}
.input-form:focus {
  border: 2px dashed #057D9F;
}
.submit-button {
  background-color: #057D9F;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 1vh 1vh;
}

/* PAGE STYLES */
.page {
  margin: 10vh auto 15vh;
  max-width: 980px;
  width: 85vw;
}
.page a {
  color: #057D9F;
  font-weight: bold;
}
.page a:hover, .page a:active {
  color: #555;
}
.page h1 {
  font-size: 3em;
}
.page h2 {
  font-size: 1.5em;
  margin: 2em 0 1em;
}
.page h4 {
  margin: 1em 0;
}

/* BLOG STYLES */
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(34, 34, 34, 0.3);
  margin-top: 4em;
  padding-top: 4em;
}
.blog-posts .post-header {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
  text-transform: capitalize;
}
.blog-posts .posts-image {
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin-bottom: 1.5em;
}
.google-map {
  background-position: center;
  text-align: center;
  height:50vh;;
}
.post {
  width: 100%;
}
.post p {
  margin-bottom: 1em;
}
.post .figure {
  margin: 1.5em 0;
  text-align: center;
}
.post .img-caption {
  font-size: 0.8em;
  font-style: italic;
}
.post .image {
  background-position: center;
  background-size: cover;
  margin-bottom: 0.5em;
  width: 100%;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
  text-transform: capitalize;
}
.post-aside {
  border: 3px dashed #057D9F;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
  font-size: 0.8em;
  margin: 0 0 2em 2em;
  overflow-x: hidden;
  padding: 1em 2em;
  width: 15vw;
}
.post-aside ul {
  list-style: none;
}
.post-aside li {
  margin-bottom: 1em;
}
.post-aside a {
  color: #555;
  font-weight: bold;
  text-transform: capitalize;
}
.post-aside a:hover, .page a:active {
  color: #057D9F;
}
.post-byline {
  font-size: 0.9rem;
  font-style: italic;
}
.post-content,
.post-footer {
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.post-content {
  font-size: 1.1rem;
}
.post-footer {
  border-top: 1px solid rgba(34, 34, 34, 0.3);
  font-size: 0.8em;
  font-style: italic;
  margin-top: 3em;
  padding-top: 2em;
}
.post-nav {
  margin-top: 4em;
  text-align: center;
}
.bullets {
  margin-bottom: 1em;
  padding: 0 2em;
}
.bullets li {
  list-style: none;
}
.bullets li:before {
  content: "\f101";
  font-family: FontAwesome;
  margin-right: 1em;
}
.post-stats li {
  line-height: 2;
  list-style: none;
  margin: 0;
}


/* PATAGONIA UNEXPLORED STYLES */
.region-header a {
  font-size: 0.5em;
  color: #fff;
}
.region-header a:hover, .region-header a:active {
  color: #fff;
}
.region-posts {
  margin-bottom: 10em;
}
.by-region .post-tags {
  font-size: 0.75em;
  font-style: italic;
}
.by-region ~ .by-region {
  margin-top: 2em;
  padding-top: 2em;
}
.patagonia-map svg {
  max-height: 90vh;
  width: 100%;
  background-position: center;
  margin: 2em 0;
}
.patagonia-map g a {transition: 0.6s opacity;}
.patagonia-map g a:hover, .patagonia-map g a:active {opacity: 0.5;}
.patagonia-map-container {
  text-align: center;
}
.patagonia-map-container a {
  font-size: 0.8em;
}
/* HEADER STYLES */
.header {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 18vh;
  margin: 2vh 0 3vh;
  width: 100%;
}
.header-logo {
  background-color: #fff;
  box-sizing: border-box;
  display: block;
  flex: 1 1 auto;
  text-align: center;
}
.header-logo img {
  height: 10vh;
}
.header-nav {
  flex: 0 1 auto;
  text-align: center;
  vertical-align: center;
}
.header-nav > li {
  display: inline-block;
  margin-left: 2em;
}
.header-nav a {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
}
.header-nav a:hover, .header-nav a:active {
  color: #057D9F;
}
.header-nav > li:last-child a {
  color: #057D9F;
}
.header-nav > li:last-child a:hover {
  color: #555;
}
.header-nav a, .drop-trigger {
  color: #555;
}
.en:lang(en), .es:lang(es) {
  font-size: 0rem;
  visibility: hidden;
}
.langselect li {
    display: inline-block;
    padding: 1px;
}
.nav-links a, .drop-trigger, .show-mobile-menu {
  font-size: 0.8rem;
  font-weight: bold;
}

/* DROPDOWN STYLES */
.dropdown {
  position: relative;
}
.dropdown:hover .drop-menu {
  display: block;
}
.dropdown:hover .drop-trigger:after {
  border-color: #057D9F transparent transparent;
}
.drop-trigger {
  display: inline-block;
  padding-right: 1em;
  position: relative;
}
.drop-trigger:after {
  border: 0.3em solid;
  border-color: #fff transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0.3em;
  width: 0;
}
.drop-menu {
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent #fff;
  content: "";
  height: 0;
  position: absolute;
  right: 1em;
  top: -0.1em;
  width: 0;
}
.drop-menu li {
  background-color: #fff;
}
.drop-menu li ~ li {
  border-top: 1px dotted rgba(34,34,34,0.9)
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  color: #555;
  font-size: 0.5em;
  padding: 1em 1em 0.25em;
  text-align: right;
  text-transform: uppercase;
}
.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
.drop-menu a {
  color: #555;
  display: block;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(255,179,0,0.7);
  color: #555;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* FOOTER STYLES */
.footer {
  background-color: #222;
  padding: 2vh 0;
  text-align: center;
}
.footer-text {
  color: #fff;
}
.top-shortcut {
  bottom: 5vh;
  color: #FFB300;
  position: fixed;
  right: 7vh;
  opacity: 0.8;
}
.top-shortcut a:active, .top-shortcut a:hover {

}

/* HERO STYLES */
.full-hero {
  background-color: #fff;
  background-size: cover;
  box-sizing: border-box;
  height: 85vh;
}
.hero-content {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: lowercase;
  top: 25%;
  transform: translate(0, -50%);
}
.hero-content h1 {
  font-size: 2rem;
  color: #555;
}
.hero-content h2 {
  color: #fff;
  font-size: 1.4rem;
}
.action-button a {
    border: 5px solid #FFb300;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FFb300;
    color: #fff;
    font-size: 1.4rem;
    padding: .4em .5em;
    margin-top: 3em;
    opacity: 0.8;
}
.action-button a:hover, .action-button a:active {
  opacity: 0.6;
}
.hero-about {
  background-image: url(/images/about-us-square.jpg);
  background-position: 40% 35%;
}
.hero-contact {
  background-image: url(/images/sophia/benitez.jpg);
  background-position: center center;
}
.hero-home {
  background-image: url(/images/isla-navarino/dientes/dientes-edu.jpg);
  background-position: center center;
}
.hero-home2 {
  background-image: url(/images/isla-navarino/dientes/j-paso-snow.jpg);
  background-position: center center;
}
.hero-posts {
  background-position: center center;
}
.videoWrapper {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.videoWrapper iframe {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 0;
  left: 12.5%;
}

/* CALLOUT STYLES */
.callout-story {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5vh 18vw;
  vertical-align: middle;
}
.callout-copy {
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 1.1rem;
  line-height: 3;
  padding: 5vh 0;
  text-align: center;
}
.callout-copy p {
  padding-bottom: 1.5vh;
}
.callout-copy h3 {
  font-size: 1.4rem;
  font-style: italic;
}
.callout-title {
  flex: 1 1 auto;
  font-size: 2rem;
  text-align: center;
}

/*SOCIAL LINKS*/
.social-link {
  background: rgba(34, 34, 34, .9);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  padding-top: 0.85em;
  text-align: center;
  vertical-align: middle;
  width: 2.5em;
}
.social-link:hover, .social-link:active {
  opacity: 0.7;
}
.social-list {
  list-style: none;
  padding: 0;
}
.social-list li {
  display: inline-block;
}
.fixed-social {
  position: fixed;
  top: 40vh;
  right: 5vh;
  z-index: 25;
}
.fixed-social li {
  display: block;
}
.share-bar {
  margin: 2em 0;
}
.share-bar .social-link {
  background: #fff;
  border: 0.04em solid #222;
  color: #222;
  margin-left: 1em;
  padding-top: 0.75em;
}

@media (max-width: 975px) {
  .post-aside {
    display: none;
  }
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after, .top-shortcut {
    display: none;
  }
}

@media (max-width: 800px) {
  html {
    padding: 0;
  }
  a:active {
    background-color: #fff;
  }
  /* HEADER STYLES */
  .header {
    flex-direction: row;
    height: 10vh;
  }
  .header-nav {
    padding: 0;
  }
  .header-logo {
    padding-left: 2em;
    padding-top: 1em;
    position: relative;
    text-align: left;
  }
  .nav-links a {
    font-size: 3.25vw;
  }
  /* MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    font-size: 1.3em;
    margin-top: 0;
    padding: 2em 3em 1.5em 1.5em;
    position: relative;
  }
  .header-nav {
    background-color: #fff;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .header-nav > li {
    display: block;
    margin-top: 1.5em;
  }
  .header-nav li ~ li {
    border: 0;
    padding: 0;
  }
  .header-nav li:first-child {
    margin-top: 1em;
  }
  .header-nav li:last-child {
    margin-bottom: 1em;
  }

  /* HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #fff;
    color: #555;
    content: "x";
    font-weight: bold;
    left: 0;
    padding-right: 2em;
    position: absolute;
    text-align: center;
    top: 2em;
    width: 100%;
    z-index: 10;
  }
  /* HOME STYLES */
  .callout-story {
    padding: 5vh 9vw;
  }
  /* BLOG STYLES */
  .post-byline {
    display: block;
    margin-bottom: 1em;
  }
  .page h1 {
    font-size: 2em;
  }
  /* SOCIAL STYLES */
  .fixed-social {
    display: none;
  }
  .social-list {
    display: block;
  }
}
