---
title: Blog | Soijen
description: Blog of our adventures in Patagonia
layout: default
permalink: /blog/
ref: blog
---
<div class="page">
  <h1>Blog</h1>
  <h2>Browse recent posts below or <a href="/tags/" title="browse by topic">browse by tag</a>.</h2>
  <div class="blog-previews">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <div class="blog-posts">
        <a href="{{ post.url }}"><div class="posts-image" style="background-image:url({{ post.postHero }})"></div></a>
        <header class="post-header">
          <h2>{{ post.title }}</h2>
          <div class="post-byline">
            by {{ post.author }}
            <span> | {% include date.html date=post.date %} {{ day }} {{ month }} {{ year }}</span>
          </div>
        </header>
        {{ post.excerpt }}
        <div class="action-button">
          <a href="{{ post.url }}">read more...</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
