---
title: Retailers | Soijen
description: Information for distributors interested in stocking our products in stores.
layout: default
permalink: /wholesale/
ref: retailers
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="page">
<h1>Retailers</h1>
<a name="partners" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
<div class="columns">
  <div class="large-col">
    <p>Find us in stores at the following locations:</p>
    </br>
    <p>Puerto Natales, Chile</p>
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Mandala Andino</strong> Manuel Bulnes 301</p>
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Day Zero</strong> Baquedano 955</p>
    <p>Punta Arenas, Chile</p>
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Casa La Porfía</strong> Pdte. Federico Errázuriz 928</p>
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>La Galería</strong> Avenida Colón 511</p>
  </div>
  <div class="small-col">
    <img src="/assets/images/products/instore.jpg" alt="Soijen in stores">
  </div>
  </br>
</div>
<div class="full-hero">
  <h2><i class="fa fa-pagelines"></i></h2>
  <h2>Want to see our products in your store?</h2>
  We offer wholesale pricing! Email us at wholesale<i class="fa fa-at"></i>soijen.com or complete our <a href="https://forms.gle/vwrvq9hncWZBusCXA" title="Soijen Wholesale Order Request Form"> online order request form</a>.
  <!--{% include phone.html %}
  {% include address.html %}-->
</div>
</div>
