#Site settings
title: Soijen
email: info@soijen.com
description:
  en: At Sóijen we create outdoor inspired designs to get you excited for your next adventure - to the wind-swept peaks of Patagonia and beyond.
  es: En Sóijen creamos diseños inspirados por el aire libre para motivarte en tu próxima aventura - ya sea en las montañas de la Patagonia o más allá.
index:
  en:
  es: /es/
feed:
  en: /feed.xml
  es: /es/feed.xml
lang: ["en", "es"]
url: "https://soijen.com"
etsy_username: Soijen
instagram_username: soijen_
facebook_username: soijen
twitter_username: soijen_
youtube_username: UC_9UZ_vZjIx3mfZ1P6r9w6g
google_analytics_key: UA-110515448-1
google_site_verification:  EEQMidAdFg7D-e5XOsBLr9_yrpphwc6Yt7Oy0HUMq7g
snipcart_api_key: MzNhYjliYWEtOTQ3ZC00ZWFlLThjYWUtYzcyNjYyYjc2OThhNjM2NzkxMTY4MTIyMTIzMzYw
permalink: /:title/

# Build settings
include: ["_pages"]

collections:
  redirects: #old website redirects
    output: true
  region:
    output: true
  products:
    output: true

defaults:
  #languages
  -
    scope:
      path: "en"
    values:
      lang: "en"
      baseurl: ""
  -
    scope:
      path: "es"
    values:
      lang: "es"
      baseurl: "/es/"
  -
    scope:
      path: "_products/en"
    values:
      lang: "en"
      layout: productdetails
      permalink: "/products/:title"
  -
    scope:
      path: "_products/es"
    values:
      lang: "es"
      layout: productdetails
      permalink: "/es/products/:title"
  -
    scope:
      type: "redirects"
    values:
      layout: "redirect"
#menu translations
m:
  en:
    home:
      name: "Home"
      url: "/"
    about:
      name: "Our Story"
      url: "/about/"
    contact:
      name: "Contact"
      url: "/contact/"
    store:
      name: "Our Designs"
      url: "/store/"
    wholesale:
      name: "Distributors"
      url: "/wholesale/"
    online-orders:
      name: "SHOP"
      url: "https://www.etsy.com/shop/Soijen"
  es:
      home:
        name: "Inicio"
        url: "/es/"
      about:
        name: "Nuestra Historia"
        url: "/es/about/"
      contact:
        name: "Contacto"
        url: "/es/contact/"
      store:
        name: "Nuestros Diseños"
        url: "/es/store/"
      wholesale:
        name: "Distribuidores"
        url: "/es/wholesale/"
      online-orders:
        name: "TIENDA"
        url: "https://www.etsy.com/shop/Soijen"
t:
  en:
    cart: Cart
    login: Login
    logout: Logout
    buy: SHOP NOW
    dimensions: Dimensions
    price: Price
    materials: Materials
  es:
    cart: Carro
    login: Ingresar
    logout: Salir
    buy: COMPRA AHORA
    dimensions: Medidas
    price: Precio
    materials: Materiales

#prose.io settings
prose:
  rooturl: ''
  siteurl: 'https://soijen.com'
  media: '/assets/images'
  ignore:
    - _config.yml
    - /_layouts
    - /_includes
    - .gitignore
    - robots.txt
    - sitemap.xml
    - CNAME
  metadata:
    "":
      - name: "title"
        field:
          label: "Title"
          element: "text"
          placeholder: "Add post title here"
      - name: "description"
        field:
          label: "Description"
          element: "text"
          placeholder: "Add post description here"
      - name: "author"
        field:
          element: "hidden"
          value: "Sóijen"
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "latitude"
        field:
          label: "latitude"
          element: "text"
          placeholder: "-54.9402407"
      - name: "longitude"
        field:
          label: "longitude"
          element: "text"
          placeholder: "-54.9402407"
      - name: "permalink"
        field:
          label: "Permalink"
          element: "text"
          placeholder: "/la-mauricie-canoe-camping/"
      - name: "postHero"
        field:
          label: "PostHero Link"
          element: "text"
          placeholder: "/assets/images/myphoto.jpg"
      - name: "ref"
        field:
          label: "Language Ref"
          element: "text"
          placeholder: "la-mauricie-canoe-camping"
      - name: "region"
        field:
          label: "region"
          element: "text"
          placeholder: "Choose region"
          options:
            - name: Puerto-Natales
              value: Puerto-Natales
            - name: Punta-Arenas
              value: Punta-Arenas
            - name: Puerto-Williams
              value: Puerto-Williams
            - name: Tierra-del-Fuego
              value: Tierra-del-Fuego
      - name: "tags"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          options:
            - name: "sustainability"
              value: "sustainability"
            - name: "bike"
              value: "bike"
            - name: "camping"
              value: "camping"
            - name: "culture"
              value: "culture"
            - name: "trekking"
              value: "trekking"
            - name: "van-life"
              value: "van-life"
            - name: "trail-running"
              value: "trail-running"
      - name: "zoom"
        field:
          label: "zoom"
          element: "text"
          placeholder: "6"
      - name: "date"
        field:
          label: "date"
          element: "text"
          value: "CURRENT_DATETIME"
