---
title: Soijen
description: At Sóijen we are outdoor adventurers who connect fellow explorers to untapped regions of Patagonia.
lang: en
layout: default
ref: index
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="full-hero hero-home">
  <h1>SÓIJEN</h1>
  <h2>patagonia [un]explored</h2>
</div>
<div class="full-hero">
  <div class="columns">
    <div class="small-col">
      <h1><i class="fa fa-pagelines" aria-hidden="true"></i></h1>
    </div>
    <div class="large-col">
      <h2>Welcome to Sóijen</h2>
      <p>Patagonia is vast and wild. It can be tough to find information about places off the normal tourist routes.</p>
      <p>At Sóijen, we are outdoor adventurers who connect fellow explorers to untapped regions of Patagonia. </p>
      <p>We strive to work with travelers, agencies, and other lovers of Patagonia to promote and protect this one-of-a-kind region.</p>
    </div>
  </div>
</div>
<div class="full-hero hero-home2">
  <h1>Travelers</h1>
  <div class="action-button"><a href="/patagonia-unexplored">Start Your Journey Here</a></div>
</div>
<div class="full-hero videohome">
  {% include youtubePlayer.html id="OnRUcMTAdvc" %}
</div>
<div class="full-hero">
  <div class="subscribe">
    {% include subscribeForm.html %}
  </div>
</div>
