---
title: Soijen
description: Bold designs that celebrate adventure.
lang: en
layout: default
ref: index
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="full-hero hero-home">
  <h1>CELEBRATING ADVENTURE</h1>
</div>

<div class="full-hero">
  <h2>NEW</h2>
  <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.featured != 0 %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="action-button">
    <a href="/store/" title="All products">VIEW ALL PRODUCTS</a>
  </div>
</div>
<div class="full-hero hero-description">
  <div class="home-description">
    <h3>At Soijen we design outdoor inspired goods and gifts that celebrate adventure.</h3>
    <h2><i class="fa fa-pagelines"></i></h2>
  </div>
</div>
<div class="full-hero hero-collection">
  <h2>FEATURED COLLECTIONS</h2>
  {% include collections.html %}
</div>
<div class="full-hero hero-donate">
    <h2>Together we are defending the wild places of Patagonia.</h2>
    <div class="action-button"><a href="/about/sustainability/">Learn more</a></div>
</div>

<div class="full-hero">
  <div class="columns">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
    {% if post.featured == 1 %}
    <div class="small-col">
      <h2>Featured Blog Post</h2>
      <h3>{{ post.title }}</h3>
      {{ post.excerpt }}
      <a href="{{ post.url }}">read more...</a>
    </div>
    <div class="large-col home-blog-hero">
      <a href="{{ post.url }}"><img src="{{ post.postHero }}" alt="{{ post.title }}"></a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<!--
<div class="full-hero">
  <div class="columns">
    <div class="small-col">
      <img src="/assets/images/trfflaurel.png" alt="laurel">
    </div>
    <div class="large-col">
      <h3>Check out our short film about the southernmost trekking circuit in the world - Los Dientes de Navarino.</h3>
      <h3>Winner of Best Amateur Short in the 2018 Trail Running Film Festival.</h3>
      <h2><i class="fa fa-chevron-down"></i></h2>
    </div>
  </div>
</div>
<div class="videohome">
  {% include youtubePlayer.html id="DiRtfEN9dm0" %}
</div>
-->
