---
title: Sóijen
description: At Sóijen we promote off-the-beaten-path areas in Patagonia through our unique designs.
lang: en
layout: default
ref: index
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="full-hero hero-home">
</div>
<div class="full-hero">
  <h2 style="text-decoration: underline;">WELCOME TO SÓIJEN</h2>
  <h3>At Sóijen we promote off-the-beaten-path areas in Patagonia through our unique products & designs.</h3>
  <h3>Get inspired for your next adventure.</h3>
  <h2><i class="fa fa-pagelines"></i></h2>
</div>
<div class="full-hero">
  <h2>OUR NEW COLLECTION</h2>
  <div class="columns">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% include product.html %}
    {% endfor %}
  </div>
  <h4><a href="/store/" title="Shop Soijen">see more products...</a></h4>
</div>
<div class="full-hero hero-home2">
  <h3>What are you waiting for?</h3>
  <h1>START ROAMING</h1>
  <div class="action-button"><a href="/maps-collection/">The Maps Collection</a></div>
</div>
<div class="full-hero">
  <div class="columns">
    <div class="small-col">
      <img src="/assets/images/trfflaurel.png" alt="laurel">
    </div>
    <div class="large-col">
      <h3>Check out our short film about the southernmost trekking circuit in the world - Los Dientes de Navarino.</h3>
      <h3>Winner of Best Amateur Short in the 2018 Trail Running Film Festival.</h3>
      <h2><i class="fa fa-chevron-down"></i></h2>
    </div>
  </div>
</div>
<div class="videohome">
  {% include youtubePlayer.html id="OnRUcMTAdvc" %}
</div>
<div class="full-hero hero-donate">
    <h1>Get Inspired. Go Outside. & Give Back.</h1>
    <h2>Together we planted 34 trees in Chile in 2018.</h2>
    <div class="action-button"><a href="/about/#give">Learn more</a></div>
</div>
<div class="full-hero">
  <h2>RECENT POSTS</h2>
  <div class="columns">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts limit:3 %}
    <div class="blog-column">
      <a href="{{ post.url }}">
        <div class="posts-image" style="background-image:url({{ post.postHero }})">
          <h3>{{ post.title }}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <h4><a href="/blog/" title="Blog">see more posts...</a></h4>
</div>
