---
title: Our Collections | Soijen
description: Browse our product collections.
layout: products
permalink: /store/collections/
ref: collections
---
<div class="page">
  <h1>Shop Our Collections</h1>
  {% include collections.html %}
  <h4>or <a href="/store" title="browse all products">BROWSE ALL PRODUCTS</a></h4>

  <a name="la-aventura" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
  <h2>LA AVENTURA NOS LLAMA COLLECTION</h2>
  <div class="columns">
    <div class="product-column">
      {% assign products=site.products | where:"lang", page.lang %}
      {% for product in products %}
        {% if product.category contains "aventura" %}
            {% include product.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>


  <a name="patagonia" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
  <h2>PASSPORT TO PATAGONIA COLLECTION</h2>
  <div class="columns">
    <div class="product-column">
      {% assign products=site.products | where:"lang", page.lang %}
      {% for product in products %}
        {% if product.category contains "patagonia" %}
            {% include product.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>


  <a name="vermont" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
  <h2>QUERIDO VERMONT COLLECTION</h2>
  <div class="columns">
    <div class="product-column">
      {% assign products=site.products | where:"lang", page.lang %}
      {% for product in products %}
        {% if product.category contains "vermont" %}
          {% include product.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
