---
title: Regions | Soijen
description: Browse adventures in Patagonia by region.
layout: default
permalink: /patagonia-unexplored/
ref: regions
---
<div class="page">
  <h1>Browse by Region</h1>
  <h2>Choose a region on the map below to get started.</h2>
  <div class="patagonia-map-container">
    {% include patagonia-map.html %}
    <a href="#UE">[Última Esperanza]</a>
    <a href="#CH">[Cabo de Hornos]</a>
    <a href="#MAG">[Magallanes]</a>
    <a href="#TDF">[Tierra del Fuego]</a>
  </div>
  <div class="region-posts">
    <a name="CH" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="region-header">Cabo de Hornos</h2>
    {% include region-CH.html %}
  </div>
  <div class="region-posts">
    <a name="MAG" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="region-header">Magallanes</h2>
    {% include region-MAG.html %}
  </div>
  <div class="region-posts">
    <a name="TDF" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="region-header">Tierra del Fuego</h2>
    {% include region-TDF.html %}
  </div>
  <div class="region-posts">
    <a name="UE" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="region-header">Última Esperanza</h2>
    {% include region-UE.html %}
  </div>
</div>
