---
layout: default
title: sóijen | contacto
description: Ubícanos
ref: contact
permalink: "/es/contact/"
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="full-hero hero-contact">
</div>
<div class="callout-story">
  <h1 class="callout-title">Contacto</h1>
  <div class="callout-copy">
    <h3>¿Preguntas? ¿Colaboraciones?</h3>
    <p>Escríbenos un mensaje usando el formulario siguente o contáctanos a info<i class="fa fa-at"></i>soijen.com.</p>
    {% include contactForm.html %}
  </div>
</div>
