{% if page.lang == 'en' %}
  <div class="columns">
    <div class="blog-column">
      <a href="/store/collections#patagonia" title="Browse the Patagonia Collection">
        <div class ="home-image">
          <img src="/assets/images/home-collections/patagonia.jpg" alt="Patagonia Collection"/>
          <div class="image-title">
            <h3>Patagonia</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="blog-column">
      <a href="/store/collections#adventure-pup" title="Browse the Adventure Pup Collection">
        <div class ="home-image">
          <img src="/assets/images/home-collections/adventure-pup.jpg" alt="Adventure Pup Collection"/>
          <div class="image-title">
            <h3>The World by Paw</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="blog-column">
      <a href="/store/collections#line-art" title="Browse the Line Art Collection">
        <div class ="home-image">
          <img src="/assets/images/home-collections/line.jpg" alt="Line Art Collection"/>
          <div class="image-title">
            <h3>Line Art</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="blog-column">
      <a href="/store/collections#vermont" title="Browse the Vermont Collection">
        <div class ="home-image">
          <img src="/assets/images/home-collections/vermont.jpg" alt="Vermont Collection"/>
          <div class="image-title">
            <h3>Vermont</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
{% else %}
  <div class="columns">
    <div class="blog-column">
      <a href="/es/store/collections#patagonia" title="Ver la Colección de la Patagonia">
        <div class ="home-image">
          <img src="/assets/images/home-collections/patagonia.jpg" alt="Colección de la Patagonia"/>
          <div class="image-title">
            <h3>La Patagonia</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="blog-column">
      <a href="/es/store/collections#adventure-pup" title="Ver la Colección El Mundo a Pata">
        <div class ="home-image">
          <img src="/assets/images/home-collections/adventure-pup.jpg" alt="Colección El Mundo a Pata"/>
          <div class="image-title">
            <h3>El Mundo a Pata</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="blog-column">
      <a href="/es/store/collections#line-art" title="Ver la Colección Arte de Rallas">
        <div class ="home-image">
          <img src="/assets/images/home-collections/line.jpg" alt="Colección Arte de Rallas"/>
          <div class="image-title">
            <h3>Dibujo a Lineas</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="blog-column">
      <a href="/es/store/collections#vermont" title="Browse the Vermont Collection">
        <div class ="home-image">
          <img src="/assets/images/home-collections/vermont.jpg" alt="Colección Vermont"/>
          <div class="image-title">
            <h3>Vermont</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endif %}
