<div class="columns">
  <!--<div class="product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.featured != 0 %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
  </div>-->

  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/sunset-montanas-print">
        <img src="/assets/images/products/featured/1.jpg" alt="Montañas - Sunset Hiking Dog Art Print" class="thumbnail prod-image"/>
        <h4>Montañas - Sunset Hiking Dog Art Print</h4>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/snowshoe-pup-tote-bag">
        <img src="/assets/images/products/featured/2.jpg" alt="Snowshoe Pup Tote Bag" class="thumbnail prod-image"/>
        <h4>Snowshoe Pup Tote Bag</h4>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/dormir-bajo-las-estrellas-camping-art-print">
        <img src="/assets/images/products/featured/3.jpg" alt="Dormir bajo las estrellas | Camping Art Print" class="thumbnail prod-image"/>
        <h4>Dormir bajo las estrellas | Camping Art Print</h4>
      </a>
    </div>
  </div>
</div>
<div class="columns">
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/no-wake-zone-pup-print">
        <img src="/assets/images/products/featured/4.jpg" alt="No Wake Zone Print | Canoeing Adventure Dog" class="thumbnail prod-image"/>
        <h4>No Wake Zone Print | Canoeing Adventure Dog</h4>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/mtb-montanas-print">
        <img src="/assets/images/products/featured/5.jpg" alt="Montañas - Mountain Biking Art Print" class="thumbnail prod-image"/>
        <h4>Montañas - Mountain Biking Art Print</h4>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/summer-notepad">
        <img src="/assets/images/products/featured/6.jpg" alt="Summer Camping Notepad" class="thumbnail prod-image"/>
        <h4>Summer Camping Notepad</h4>
      </a>
    </div>
  </div>
</div>
<div class="action-button">
  <a href="https://soijen.myshopify.com" title="Online shop">{{site.data.translations.t[page.lang].shop-all}}</a>
</div>