<div class="columns">
  <!--<div class="product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.featured != 0 %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
  </div>-->

  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/spring-bloom-pup-spiral-notebook">
        <img src="/assets/images/products/featured/1.jpg" alt="Spring Bloom Pup Spiral Notebook" class="thumbnail prod-image"/>
        <h4>Spring Bloom Pup Spiral Notebook</h4>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/trail-ramen-spiral-jotter-notebook">
        <img src="/assets/images/products/featured/2.jpg" alt="Trail Ramen Spiral Jotter Notebook" class="thumbnail prod-image"/>
        <h4>Trail Ramen Spiral Jotter Notebook</h4>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/gear-filled-van-art-print">
        <img src="/assets/images/products/featured/3.jpg" alt="Gear-filled Van Art Print" class="thumbnail prod-image"/>
        <h4>Gear-filled Van Art Print</h4>
      </a>
    </div>
  </div>
</div>
<div class="columns">
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/thru-hiker-waterproof-sticker">
        <img src="/assets/images/products/featured/4.jpg" alt="Thru-Hiker Waterproof Sticker" class="thumbnail prod-image"/>
        <h4>Thru-Hiker Waterproof Sticker</h4>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/hammock-pup-wire-bound-notebook">
        <img src="/assets/images/products/featured/5.jpg" alt="Hammock Pup Spiral Notebook" class="thumbnail prod-image"/>
        <h4>Hammock Pup Spiral Notebook</h4>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/sailing-pup-notepad">
        <img src="/assets/images/products/featured/6.jpg" alt="Sailing Pup Notepad" class="thumbnail prod-image"/>
        <h4>Sailing Pup Notepad</h4>
      </a>
    </div>
  </div>
</div>
<div class="action-button">
  <a href="https://soijen.myshopify.com" title="Online shop">{{site.data.translations.t[page.lang].shop-all}}</a>
</div>