<div class="columns">
  <!--<div class="product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.featured != 0 %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
  </div>-->
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/montanas-blank-greeting-card-set">
        <img src="/assets/images/products/featured/1.jpg" alt="Montañas Assorted Greeting Card Set" class="thumbnail prod-image"/>
        <h4>Montañas Assorted Greeting Card Set</h4>
        <h3>
          $18
        </h3>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/no-wake-zone-pup-print">
        <img src="/assets/images/products/featured/2.jpg" alt="No Wake Zone Art Print" class="thumbnail prod-image"/>
        <h4>No Wake Zone Art Print</h4>
        <h3>
          $13+
        </h3>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/summer-notepad">
        <img src="/assets/images/products/featured/3.jpg" alt="Summer Camping Notepad" class="thumbnail prod-image"/>
        <h4>Summer Camping Notepad</h4>
        <h3>
          $14
        </h3>
      </a>
    </div>
  </div>
</div>
<div class="columns">
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/bike-pup-tote-bag">
        <img src="/assets/images/products/featured/4.jpg" alt="Bike Pup Rest Area Tote Bag" class="thumbnail prod-image"/>
        <h4>Bike Pup Rest Area Tote Bag</h4>
        <h3>
          $28
        </h3>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/spring-notepad">
        <img src="/assets/images/products/featured/5.jpg" alt="Spring Bike Ride Notepad" class="thumbnail prod-image"/>
        <h4>Spring Bike Ride Notepad</h4>
        <h3>
          $14
        </h3>
      </a>
    </div>
  </div>
  <div class="product-column">
    <div class="product">
      <a class="product" href="https://soijen.myshopify.com/products/bicicleta-blank-greeting-card-set">
        <img src="/assets/images/products/featured/6.jpg" alt="Bicicleta Assorted Greeting Card Set" class="thumbnail prod-image"/>
        <h4>Bicicleta Assorted Greeting Card Set</h4>
        <h3>
          $18
        </h3>
      </a>
    </div>
  </div>
</div>
<a href="https://soijen.myshopify.com" title="Online shop">{{site.data.translations.t[page.lang].shop-all}}</a>