<footer class="footer">
  <div class="footer-text">
    {% if page.lang == 'eng' %}
      made with <i class="fa fa-coffee" aria-hidden="true"></i> by sóijen<br>
    {% endif %}
    {% if page.lang == 'esp' %}
      hecho con <i class="fa fa-coffee" aria-hidden="true"></i> por sóijen<br>
    {% endif %}
      <span class="social-list">
        {% if page.lang == 'eng' %}
          find us on
        {% endif %}
        {% if page.lang == 'esp' %}
          búscanos en
        {% endif %}
        {% include social-links.html %}
      </span>
  </div>
</footer>
