<footer class="footer">
  <div class="footer-text">
    {% if page.lang == 'en' %}
      made with <i class="fa fa-coffee" aria-hidden="true"></i> by sóijen <i class="fa fa-copyright"></i> 2018<br>
    {% endif %}
    {% if page.lang == 'es' %}
      hecho con <i class="fa fa-coffee" aria-hidden="true"></i> por sóijen <i class="fa fa-copyright"></i> 2018<br>
    {% endif %}
      <span class="social-list">
        {% if page.lang == 'en' %}
          find us on
        {% endif %}
        {% if page.lang == 'es' %}
          búscanos en
        {% endif %}
        {% include social-links.html %}
      </span>
  </div>
</footer>
