<div class="policy">
  {% if page.lang == 'en' %}
    At Sóijen we are commited to sustainability. We collaborate with environmentally conscious suppliers and maximize the recycled content in all our product materials and packaging. At least 1% of each purchase is donated to environmental non-profits and initiatives in Chile. More information <a href="/about/#green" title="Sustainability & Materials">here</a>.
  {% endif %}
  {% if page.lang == 'es' %}
    En Sóijen nos comprometimos con el desarrollo sostenible. Colaboramos con proveedores que priorizan el medioambiente y maximizamos el uso de materiales reciclados en nuestros productos y envoltorios. Por lo menos el 1% de cada compra es donado a iniciativas medioambientales de organizaciones sin fines de lucros en Chile. Más información <a href="/es/about/#green" title="Sostenibilidad y Materiales">aquí</a>.
  {% endif %}
</div>
