<div class="banner">
  {% if page.lang == 'en' %}
    All tote bags 25% off April 4-10! <a href="https://www.etsy.com/shop/Soijen" title="Etsy Shop">SHOP NOW</a>
  {% endif %}
  {% if page.lang == 'es' %}
    ¡25% descuento en bolsas reutilzables (desde el 4 al 10 de abril)! <a href="https://www.etsy.com/shop/Soijen" title="Tienda de Etsy">COMPRA AHORA</a>
  {% endif %}
</div>
<header class="header" id="header">
  {% include logo.html %}
  {% include menu.html menusource=site.data.menu %}
</header>
