<div class="banner">
  {% if page.lang == 'en' %}
    New online store is here! <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="/store/">shop now</a> <i class="fa fa-angle-double-left" aria-hidden="true"></i>
  {% endif %}
  {% if page.lang == 'es' %}
    Nueva tienda online <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="/es/store/">compra ahora</a> <i class="fa fa-angle-double-left" aria-hidden="true"></i>
  {% endif %}
</div>
<header class="header" id="header">
  {% include logo.html %}
  {% include menu.html %}
</header>
