<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="{{ site.description[page.lang] }}">
  {% endif %}
  <link href="{{site.url}}/assets/favicon.ico" rel="icon">
  <link href="{{site.url}}/assets/favicon.ico" rel="apple-touch-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css?v=4.1">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link href='{{ site.url }}/feed.xml' rel='alternate' type='application/atom+xml'>

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Karla:wght@500" rel="stylesheet">
  <link rel="stylesheet" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.css">
  
  <!-- External Integrations -->
  <meta name="google-site-verification" content="{{  site.google_site_verification }}" />
  {% include analytics.html %}
  {% include twitter-card.html %}
  {% include openGraph.html %}
  <!--{% include shopify-buy-button.html %}-->

  {% for script in layout.head %}
    {% include {{ script }} %}
  {% endfor %}

</head>
