<head>
  {% if page.title %}
    <title>{{ page.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="{{ site.description[page.lang] }}">
  {% endif %}
  <link href="/assets/favicon.ico" rel="icon">
  <link href="/assets/favicon.ico" rel="apple-touch-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/main.css?v=3.2">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% if page.lang == 'en' %}
    <link href='{{ site.url }}/feed.xml' rel='alternate' type='application/atom+xml'>
  {% endif %}
  {% if page.lang == 'es' %}
    <link href='{{ site.url }}/feed.xml' rel='alternate' type='application/atom+xml'>
  {% endif %}
  <!-- External Integrations -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100" rel="stylesheet">
  <meta name="google-site-verification" content="{{  site.google_site_verification }}" />
  {% include analytics.html %}
  {% include twitter-card.html %}
  {% include openGraph.html %}
</head>
