<ul>
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}
  <li>
    <a href="{{ post.url }}" class="{{ post.lang }}">{{ site.data.languages[post.lang].label }}</a>
  </li>
{% endfor %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
  <li>
    <a href="{{ page.url }}" class="{{ page.lang }}">{{ site.data.languages[page.lang].label }}</a>
  </li>
{% endfor %}

{% assign products=site.products | where:"ref", page.ref | sort: 'lang' %}
{% for product in products %}
  <li>
    <a href="{{ product.url }}" class="{{ product.lang }}">{{ site.data.languages[product.lang].label }}</a>
  </li>
{% endfor %}
</ul>
