<nav class="nav">
  <input type="checkbox" id="mobile-menu" class="mobile-menu-check">
  <label for="mobile-menu" class="show-mobile-menu"><i class="fa fa-bars"></i></label>
  <ul class="menu">
    {% assign navurl = page.url %}
    {% for item in include.menusource.m[page.lang] %}
      {% if item[1].subitems %}
        <li class="dropdown parent-menu">
          <a class="drop-trigger menu-link" href="{{ item[1].url }}" title="{{ item[1].hover }}">
            {% if navurl contains item[1].url %}
              <span class="active-menu">{{ item[1].name }}</span>
            {% else %}
              {{ item[1].name }}
            {% endif %}
          </a>
          <ul class="drop-menu">
            {% if item[1].subitems %}
              {% for subitem in item[1].subitems %}
              {% if subitem[1].mobile-display == false %}
              <div class = "mobile-off">
              <li class="child-menu">
                <a class="menu-link" href="{{ subitem[1].url }}">
                  {% if subitem[1].url == navurl %}
                    <span class="active-menu">{{ subitem[1].name }}</span>
                  {% else %}
                    {{ subitem[1].name }}
                  {% endif %}
                </a>
              </li>
              </div>
              {% else %}
              <li class="child-menu">
                <a class="menu-link" href="{{ subitem[1].url }}">
                  {% if subitem[1].url == navurl %}
                    <span class="active-menu">{{ subitem[1].name }}</span>
                  {% else %}
                    {{ subitem[1].name }}
                  {% endif %}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        </li>
      {% else %}
        <li class="single-menu">
          <a class="menu-link" href="{{ item[1].url }}" title="{{ item[1].hover }}">
            {% if item[1].url == navurl %}
              <span class="active-menu">{{ item[1].name }}</span>
            {% else %}
              {{ item[1].name }}
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    <li><span class="langselect">{% include langselect.html %}</span></li>
  </ul>
</nav>
</div>