<!-- facebook Open Graph Metadatas -->
{% if page.lang == 'en' %}
  <meta property="og:locale" content="en_US">
{% endif %}
{% if page.lang == 'es' %}
  <meta property="og:locale" content="es_CL">
{% endif %}

<meta property="fb:app_id" content="537469689960137" />
<meta content="{{ site.title }}" property="og:site_name">

{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}

{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}

{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}

{% if page.postHero %}
<meta property="og:image" content="{{ site.url }}{{ page.postHero }}" />
{% else %}
  <meta content="{{ site.url }}/images/logo-crop.png" property="og:image">
{% endif %}
