
  <div class="product blog-column">
    <a class="product" href="{{ product.url }}">
      <img src="{{ product.image }}" alt="{{ product.name }}" class="thumbnail prod-image"/>
      <h4>{{ product.name }}</h4>
      <h3>
        {% if product.stock == 0 %}
          {% if page.lang == 'en' %}
            SOLD OUT
          {% endif %}
          {% if page.lang == 'es' %}
            AGOTADO
          {% endif %}
        {% else %}
        ${{ product.price }} USD
        {% endif %}
      </h3>
    </a>
    <!--<button class="snipcart-add-item"
      data-item-name="{{ product.name }}"
      data-item-id="{{ product.sku }}"
      data-item-image="{{ product.image }}"
      data-item-url="{{ product.url }}"
      data-item-price="{{ product.price }}">
      {{site.t[page.lang].buy}}
    </button>

-->
  </div>
