{% if page.lang == 'en' %}
<div class="full-hero quick-links">
    <div class="equal-col mobile-off">
      <h4>Shop by Product</h4>
      <ul><a href="/store/cards-letters" title="Shop Cards + Letters">Cards + Letters</a></ul>
      <ul><a href="/store/notebooks-notepads" title="Shop Notebooks + Notepads">Notebooks + Notepads</a></ul>
      <ul><a href="/store/stickers" title="Shop Stickers">Stickers</a></ul>
      <ul><a href="/store/prints-posters" title="Shop Prints + Posters">Prints + Posters</a></ul>
      <ul><a href="/store/apparel" title="Shop Apparel">Apparel</a></ul>
      <ul><a href="/store/bags-pouches" title="Shop Bags + Pouches">Bags + Pouches</a></ul>
      <ul><a href="/store/other-goods" title="Shop Other Goods">Other Goods</a></ul>
    </div>
    <div class="equal-col mobile-off">
      <h4>Shop by Region Collection</h4>
      <ul><a href="/store/collections/patagonia" title="Shop Patagonia Collection">Explore Patagonia</a></ul>
      <ul><a href="/store/collections/vermont" title="Shop Vermont Collection">Explore Vermont</a></ul>
    </div>
    <div class="equal-col">
      <h4>Help + Info</h4>
      <ul><a href="/about/faq" title="FAQ">FAQ</a></ul>
      <ul><a href="/about/refunds-shipping" title="Refunds + Shipping">Refunds + Shipping</a></ul>
      <ul><a href="/about/sustainability" title="Sustainability">Sustainability</a></ul>
      <ul><a href="/about/terms-conditions" title="Terms + Conditions">Terms + Conditions</a></ul>
    </div>
    <div class="equal-col">
      <h4>Quicklinks</h4>
      <ul><a href="/about" title="Our Story">Our Story</a></ul>
      <ul><a href="/about/events" title="Events">Events</a></ul>
      <ul><a href="/wholesale" title="Wholesale Inquiries">Wholesale Inquiries</a></ul>
      <ul><a href="/stockists" title="Stockists">Stockists</a></ul>
      <ul><a href="/about/contact" title="Contact">Contact</a></ul>
      <ul><a href="/blog" title="Blog">Blog</a></ul>
    </div>
{% endif %}
{% if page.lang == 'es' %}
<div class="full-hero quick-links">
    <div class="equal-col mobile-off">
      <h4>Productos por Categoría</h4>
      <ul><a href="/es/store/cards-letters" title="Tarjetas + Papelería">Tarjetas + Papelería</a></ul>
      <ul><a href="/es/store/notebooks-notepads" title="Cuadernos + Blocs">Cuadernos + Blocs</a></ul>
      <ul><a href="/es/store/stickers" title="Stickers">Stickers</a></ul>
      <ul><a href="/es/store/prints-posters" title="Posters + Impresiones">Posters + Impresiones</a></ul>
      <ul><a href="/es/store/apparel" title="Ropa">Ropa</a></ul>
      <ul><a href="/es/store/bags-pouches" title="Bolsas + Estuches">Bolsas + Estuches</a></ul>
      <ul><a href="/es/store/other-goods" title="Otros Productos">Otros Productos</a></ul>
    </div>
    <div class="equal-col mobile-off">
      <h4>Colecciones</h4>
      <ul><a href="/es/store/collections/patagonia" title="Colección La Patagonia">Explora Patagonia</a></ul>
      <ul><a href="/es/store/collections/vermont" title="Colección Vermont">Explora Vermont</a></ul>
    </div>
    <div class="equal-col">
      <h4>Ayuda + Info</h4>
      <ul><a href="/es/about/faq" title="Preguntas Frecuentes">Preguntas Frecuentes</a></ul>
      <ul><a href="/es/about/refunds-shipping" title="Devoluciones + Despacho">Devoluciones + Despacho</a></ul>
      <ul><a href="/es/about/sustainability" title="Sostenibilidad">Sostenibilidad</a></ul>
      <ul><a href="/es/about/terms-conditions" title="Términos + Condiciones">Términos + Condiciones</a></ul>
    </div>
    <div class="equal-col">
      <h4>Quicklinks</h4>
      <ul><a href="/es/about" title="Nuestra Historia">Nuestra Historia</a></ul>
      <ul><a href="/es/about/events" title="Eventos">Eventos</a></ul>
      <ul><a href="/es/wholesale" title="Ventas al por Mayor">Ventas al por Mayor</a></ul>
      <ul><a href="/es/stockists" title="Puntos de Venta">Puntos de Venta</a></ul>
      <ul><a href="/es/about/contact" title="Contact">Contacto</a></ul>
      <ul><a href="/es/blog" title="Blog">Blog</a></ul>
    </div>
{% endif %}