<div class="columns">
    <div class="product-column">
      {% if page.lang == "en" %}
      <div class="product product-type"><a href="/store/" title="return to all products">Return to All Products</a></div>
      <div class="product product-type"><a href="/store/collections" title="explore region collection">Explore Region Collections</a></div>
      {% endif %}
      {% if page.lang == "es" %}
        <div class="product product-type"><a href="/es/store/" title="Volver a todos los productos">Volver a Todos los Productos</a></div>
        <div class="product product-type"><a href="/es/store/collections" title="explore region collection">Explorar las Colecciones Regionales</a></div>
      {% endif %}
    </div>
  </div>