<li>
  <a href="http://instagram.com/soijen_" target="_blank" title="Check us out on Instagram" class="social-link">
    <i class="fa fa-instagram"></i>
  </a>
</li>
<li>
  <a href="http://twitter.com/soijen_" target="_blank" title="Check us out on Twitter" class="social-link">
    <i class="fa fa-twitter"></i>
  </a>
</li>
<li>
  <a href="http://facebook.com/soijen" target="_blank" title="Check us out on Facebook" class="social-link">
    <i class="fa fa-facebook"></i>
  </a>
</li>
<li>
  <a href="http://youtube.com/" target="_blank" title="Check us out on Youtube" class="social-link">
    <i class="fa fa-youtube"></i>
  </a>
</li>
