<ul>
  <li>
    <a href="http://etsy.com/shop/{{ site.etsy_username }}" target="_blank" title="Check us out on Etsy" aria-label="Etsy Link" class="social-link">
      <i class="fa fa-etsy" role="none"></i>
    </a>
  </li>
  <li>
    <a href="http://instagram.com/{{ site.instagram_username }}" target="_blank" title="Check us out on Instagram" aria-label="Instagram Link" class="social-link">
      <i class="fa fa-instagram" role="none"></i>
    </a>
  </li>
  <li>
    <a href="http://facebook.com/{{ site.facebook_username }}" target="_blank" title="Check us out on Facebook" aria-label="Facebook Link" class="social-link">
      <i class="fa fa-facebook" role="none"></i>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/{{ site.youtube_username }}" target="_blank" title="Check us out on Youtube" aria-label="Youtube Link" class="social-link">
      <i class="fa fa-youtube" role="none"></i>
    </a>
  </li>
  <li>
    {% if page.lang == 'en' %}
      <a href="/feed.xml" target="_blank" title="Subscribe to RSS" aria-label="RSS Link" class="social-link">
        <i class="fa fa-rss" role="none"></i>
      </a>
    {% endif %}
    {% if page.lang == 'es' %}
      <a href="/es/feed.xml" target="_blank" title="Subscribe to RSS" aria-label="RSS Link" class="social-link">
        <i class="fa fa-rss" role="none"></i>
      </a>
    {% endif %}
  </li>
</ul>
