---
layout: default
title: sóijen | blog
description: Blog sobre nuestras aventuras en la Patagonia.
ref: blog
permalink: "/es/blog/"
---
<div class="page blog-index">
  <h1>Blog</h1>
    <div class="blog-previews">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in posts %}
      <div class="blog-posts">
        <a href="{{ post.url }}"><div class="posts-image" style="background-image:url({{ post.postHero }})"></div></a>
        <header class="post-header">
          <h2>{{ post.title }}</h2>
          <div class="post-byline">
            por {{ post.author }}
            <span> | {% include date.html date=post.date %} {{ day }} {{ month }} {{ year }}</span>
          </div>
        </header>
        {{ post.excerpt }}
        <a href="{{ post.url }}">leer más...</a>
      </div>
    {% endfor %}
    </div>
</div>
