---
title: Blog | Soijen
description: Blog sobre nuestras aventuras en la Patagonia
layout: default
permalink: /es/blog/
ref: blog
---
<div class="page">
  <h1>Blog</h1>
  <h2>Buscar por publicaciones recientes abajo.</h2>
  <h2>O <a href="/es/tags/" title="buscar por etiqueta">buscar por etiqueta <i class="fa fa-tag"></i></a>, <a href="/es/patagonia-unexplored/" title="buscar por región">buscar por región <i class="fa fa-map"></i></a>.</h2>
  <div class="blog-previews">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <div class="blog-posts">
        <a href="{{ post.url }}"><div class="posts-image" style="background-image:url({{ post.postHero }})"></div></a>
        <header class="post-header">
          <h2>{{ post.title }}</h2>
          <div class="post-byline">
            por {{ post.author }}
            <span> | {% include date.html date=post.date %} {{ day }} {{ month }} {{ year }}</span>
          </div>
        </header>
        {{ post.excerpt }}
        <div class="action-button">
          <a href="{{ post.url }}">leer más...</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
