---
title: Shop Our Products | Soijen
description: Shop our selection of adventure inspired products.
layout: products
permalink: /store/
ref: store
---
<div class="page">
  <h1>Shop Our Products</h1>
  <div class="columns">
    <div class="product-column">
      <div class="product product-type"><a href="/store/cards-letters/">Cards + Letters</a></div>
      <div class="product product-type"><a href="/store/notebooks-notepads/">Notebooks + Notepads</a></div>
      <div class="product product-type"><a href="/store/stickers/">Stickers</a></div>
      <div class="product product-type"><a href="/store/prints-posters/">Prints + Posters</a></div>
      <div class="product product-type"><a href="/store/apparel/">Apparel</a></div>
      <div class="product product-type"><a href="/store/bags-pouches/">Bags + Pouches</a></div>
      <div class="product product-type"><a href="/store/other-goods/">Other Goods</a></div>
      <div class="product product-type">or <a href="/store/collections" title="explore region collections">EXPLORE REGION COLLECTIONS</a></div>
    </div>
  </div>
  <div class="columns">
    <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
            {% if product.category contains "aventura" %}
                {% include product.html %}
            {% endif %}
        {% endfor %}
    </div>  
  </div>
</div>