---
title: Shop Our Products | Soijen
description: Shop our selection of outdoor inspired products.
layout: products
permalink: /store/
ref: store
---
<div class="page">
  <h1>Shop Our Products</h1>
    <h4>
      <a href="#t-shirts"> T-shirts </a>-<a href="#art-prints"> Art Prints and Posters </a>-<a href="#postcards"> Postcard Sets </a>-<a href="#tote-bags"> Tote Bags and Pouches </a>-<a href="#note-cards"> Blank Note Cards </a>-<a href="#stickers"> Stickers </a>-<a href="#woodworking"> Woodworking </a>
    </h4>
    <h4>or <a href="/store/collections" title="Browse by Collection">BROWSE BY COLLECTION</a></h4>
    <a name="t-shirts" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2>T-shirts</h2>
    <div class="columns">
      <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
          {% if product.category contains "t-shirt" %}
            {% include product.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a name="art-prints" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2>Art Prints and Posters</h2>
    <div class="columns">
      <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
          {% if product.category contains "art-print" %}
            {% include product.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a name="postcards" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2>Postcard Sets</h2>
    <div class="columns">
      <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
          {% if product.category contains "postcard" %}
            {% include product.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a name="tote-bags" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2>Tote bags and Pouches</h2>
    <div class="columns">
      <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
          {% if product.category contains "tote" %}
            {% include product.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="columns">
      <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
          {% if product.category contains "pouch" %}
            {% include product.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a name="note-cards" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2>Blank Note Cards</h2>
    <div class="columns">
      <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
          {% if product.category contains "cards" %}
            {% include product.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a name="stickers" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2>Stickers</h2>
    <div class="columns">
      <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
          {% if product.category contains "sticker"%}
            {% include product.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a name="woodworking" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2>Woodworking</h2>
    <div class="columns">
      <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
          {% if product.category contains "wood"%}
            {% include product.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
</div>
