---
title: Our Designs | Sóijen
description: Browse our Designs and visit our partners.
layout: products
permalink: /store/
ref: store
---
<div class="page">
  <h1>Our Designs</h1>
    <h2>Art Prints and Posters</h2>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "art-print" and product.category contains "states" %}
        {% if product.category contains "patagonia" %}{% else %}
          {% include product.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "art-print" %}
        {% if product.category contains "patagonia" %}{% else %}
          {% if product.category contains "states" %}{% else %}
            {% include product.html %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "art-print" and product.category contains "patagonia" and product.category contains "illustration" %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "art-print" and product.category contains "patagonia" %}
        {% if product.category contains "illustration" %}{% else %}
        {% include product.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <h2>Postcards</h2>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "postcard" %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>
    <h2>Tote bags and Pouches</h2>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "tote" and product.category contains "adventure-pup" %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "tote" %}
        {% if product.category contains "adventure-pup" %}{% else %}
          {% include product.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <h2>Blank Note Cards</h2>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "cards" %}
        {% if product.category contains "states" %}{% else %}
          {% if product.category contains "adventure-pup" %}{% else %}
            {% include product.html %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "cards" and product.category contains "adventure-pup"%}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "cards" and product.category contains "states" %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>

  <h2><i class="fa fa-pagelines"></i></h2>
  <a name="partners" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
  <div class="columns">
    <div class="small-col">
      <img src="/assets/images/products/instore.jpg" alt="Sóijen in stores">
    </div>
    <div class="large-col">
      <h1>Find Us in Stores</h1>
      <p>We are proud to partner with local businesses in Patagonia. Find our designs and products in the stores below.</p>
      <h3>Puerto Natales, Chile</h3>
        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Mandala Andino</strong> Manuel Bulnes 301</p>
        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Day Zero</strong> Baquedano 955</p>
      <h3>Punta Arenas, Chile</h3>
        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Casa La Porfía</strong> Pdte. Federico Errázuriz 928</p>
        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>La Galería</strong> Avenida Colón 511</p>
      </br>
      <p>Have a store and want to offer our products? <a href="/wholesale/" title="Distributors">Visit our page for Distributors</a>.</p>
    </div>
  </div>
</div>
