---
title: Distributors | Soijen
description: Information for distributors interested in stocking our products in stores.
layout: default
permalink: /wholesale/
ref: wholesale
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="full-hero hero-wholesale">
  <h1>Distributors</h1>
</div>
<div class="full-hero">
  <h2>Want to see our products in your store?</h2>
  We offer wholesale pricing! Send us a message using the form below or email info<i class="fa fa-at"></i>soijen.com.
  {% include contactForm.html %}
</br>Or contact us by phone Monday through Friday 9AM-5PM (EST).</br></br>
  {% include phone.html %}
  {% include address.html %}
</div>
