html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'Open Sans', helvetica, arial, sans;
  line-height: 1.5;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/*GLOBAL STYLES */
a {
  color: #057D9F;
  font-weight: bold;
  text-decoration: none;
}
a:hover, a:active {
  color: #555;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6 {
  color: #555;
  font-family: 'Raleway', helvetica, sans;
  font-weight: bold;
  padding-bottom: 0.5em;
}
h1 {
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
}
h2 {
  letter-spacing: 0.2em;
}
h3 {
  letter-spacing: 0.1em;
}
p {
  color: #222;
  padding-bottom: 1em;
  text-align: justify;
}
img {
  background-position: center;
  background-size: cover;
  padding-top: 3em;
  text-align: center;
  width: 100%;
}
ul {
  margin-bottom: 1em;
  padding: 0 2em;
}
li {
  list-style: none;
}
li:before {
  content: "\f101";
  font-family: FontAwesome;
  margin-right: 1em;
}
.anchor {
  opacity: 0;
}
.img-caption {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
.img-caption + p {
  padding-top: 2em;
}
.content-container {
  flex: 1 1 auto;
  width: 100%;
}

/* FORM STYLES */
input {
  height: 5vh;
}
textarea {
  height: 30vh;
}
.action-button {
  margin-top: 2em;
}
.action-button a {
    border: 5px solid #FFb300;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFb300;
    color: #fff;
    font-size: 1rem;
    padding: .4em .5em;
    opacity: 0.8;
}
.action-button a:hover, .action-button a:active {
  opacity: 1;
}
.input-form {
  border: 2px solid #057D9F;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  margin: 4vh auto;
  max-width: 600px;
  padding: 1vh 1vh;
  text-align: left;
  width: 100%;
}
.input-form:focus {
  border: 2px dashed #057D9F;
}
.submit-button, .snipcart-add-item {
  background-color: #057D9F;
  border: 5px solid #057D9F;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  margin-bottom: 2em;
  padding: .4em .5em;
  opacity: 0.8;
}
.submit-button:active, .submit-button:hover, .snipcart-add-item:active, .snipcart-add-item:hover {
  opacity: 1;
}
.videoWrapper {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0;
}
.videoWrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}
.videohome {
  margin: auto;
  padding: 3vh 0;
  background-attachment: fixed;
  background-size: cover;
  max-width: 1080px;
}

/* HEADER STYLES */
.banner {
  color: #fff;
  background-color: #FFB300;
  box-sizing: border-box;
  padding: 1vh 1vh;
  text-align: center;
  z-index: 10;
}
.header {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 18vh;
  margin-bottom: 6vh;
  width: 100%;
}
.header-logo {
  background-color: #fff;
  box-sizing: border-box;
  display: block;
  flex: 1 1 auto;
  text-align: center;
}
.header-logo img {
  height: 10vh;
  width: auto;
}
.header-nav {
  flex: 0 1 auto;
  text-align: center;
  vertical-align: center;
}
.header-nav > li {
  display: inline-block;
  margin-left: 2em;
}
.header-nav > li:before {
    content: none;
}
.header-nav a {
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
}
.header-nav a:hover, .header-nav a:active {
  color: #057D9F;
}
.header-nav > li:last-child a {
  color: #057D9F;
}
.header-nav > li:last-child a:hover {
  color: #555;
}
.header-nav > li:first-child {
}
.header-nav a, .drop-trigger {
  color: #555;
}
.en:lang(en), .es:lang(es) {
  font-size: 0rem;
  visibility: hidden;
}
.langselect ul {
  padding: 0;
  margin: 0;
}
.langselect li {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}
.langselect li:before {
  content: none;
}
.nav-links a, .drop-trigger, .show-mobile-menu {
  font-size: 0.8rem;
  font-weight: bold;
}

/* DROPDOWN STYLES */
.dropdown {
  position: relative;
}
.dropdown li:before {
  content: none;
}
.dropdown:hover .drop-menu {
  display: block;
}
.dropdown:hover .drop-trigger:after {
  border-color: #057D9F transparent transparent;
}
.drop-trigger {
  display: inline-block;
  padding-right: 1em;
  position: relative;
}
.drop-trigger:after {
  border: 0.3em solid;
  border-color: #fff transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0.3em;
  width: 0;
}
.drop-menu {
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent #fff;
  content: "";
  height: 0;
  position: absolute;
  right: 1em;
  top: -0.1em;
  width: 0;
}
.drop-menu li {
  background-color: #fff;
}
.drop-menu li ~ li {
  border-top: 1px dotted rgba(34,34,34,0.9)
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  color: #555;
  font-size: 0.5em;
  padding: 1em 1em 0.25em;
  text-align: right;
  text-transform: uppercase;
}
.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
.drop-menu a {
  color: #555;
  display: block;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(255,179,0,0.7);
  color: #555;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu, .mobile-only a {
  display: none;
}
/* HERO STYLES */
.full-hero {
  background-size: cover;
  box-sizing: border-box;
  height: auto;
  padding: 10vh 20vh;
  text-align: center;
}
.full-hero h1 {
  font-size: 3rem;
  padding-top: 20vh;
  text-shadow: 2px 2px 2px #222;
}
.full-hero h2 {
  font-size: 2rem;
  padding-bottom: 1.1rem;
}
.full-hero h3 {
  font-size: 1.3rem;
  padding-bottom: 1.1rem;
}
.hero-donate h2, .hero-home h2 {
  text-shadow: 1px 1px 2px #222;
}
.hero-donate h1, .hero-donate h2 {
  text-shadow: 1px 1px 2px #000;
}
.hero-donate h1, .hero-donate h2, .hero-home h1, .hero-home2 h1, .hero-home h2, .hero-contact h1, .hero-about h1, .hero-blog h1, .hero-blog h2, .hero-wholesale h1 {
  color: #fff;
}
.hero-about {
  background-image: url(/assets/images/about-us-square.jpg);
  background-position: center 35%;
  height: 75vh;
}
.hero-blog {
  background-color: #222;
  height: 40vh;
}
.hero-contact {
  background-image: url(/assets/images/sophia/benitez.jpg);
  background-position: center center;
  height: 71vh;
}
.hero-donate {
  background-image: url(/assets/images/bosque.jpg);
  background-position: top right;
  height: 90vh;
  margin-top: 10vh;
}
.hero-home {
  background-image: url(/assets/images/heros/hero-home.jpg);
  background-position: center;
  height: 70vh;
}
.hero-home2 {
  background-image: url(/assets/images/isla-navarino/dientes/j-paso-snow.jpg);
  background-position: center center;
  height: 90vh;
}
.hero-posts {
  background-position: center center;
  height: 85vh;
}
.hero-wholesale {
  background-image: url(/assets/images/products/instore.jpg);
  background-position: 50% 70%;
  height: 71vh;
}
.rlogo img {
  width: 16vh;
}

/* COLUMNS */
.columns {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 0;
  text-align: center;
  width: 100%;
}
.blog-column {
  box-sizing: border-box;
  flex: 1 1 25%;
  vertical-align: middle;
  padding: 1vh;
}
.blog-column .posts-image {
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin-bottom: 1.5em;
}
.blog-column .posts-image h3 {
  color: #fff;
  text-shadow: 2px 2px 2px #222;
  padding: 1em 1vh 1vh;
}
.large-col {
  box-sizing: border-box;
  flex: 1 1 60%;
  padding-left: 10vh;
  vertical-align: middle;
}
.small-col {
  box-sizing: border-box;
  flex: 1 1 auto;
  max-width: 350px;
  vertical-align: middle;
}
.small-col img {
  padding: 0;
  margin: 0;
}
.product a {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.product a:hover {
  opacity: 0.5;
}
.gallery-thumbs > div {
  cursor: pointer;
}
.gallery-thumbs img {
  box-sizing: border-box;
  box-shadow: 0 0 0 5px transparent;
  display: inline-block;
  margin: 0 0 10px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  width: 90%;
}
.gallery-thumbs img:hover {
  opacity: 1;
}
.gallery-thumbs .current img {
  box-shadow: 0 0 0 5px #FFB300;
  opacity: 1;
}
.gallery-photo {
  position: relative;
  flex: 1 1 80%;
}
.gallery-photo img {
  width: 100%;
  padding:0;
  margin:0;
}

/*SOCIAL LINKS*/
.social-link {
  background: rgba(34, 34, 34, .9);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  padding-top: 0.85em;
  text-align: center;
  vertical-align: middle;
  width: 2.5em;
}
.social-link:hover, .social-link:active {
  opacity: 0.7;
}
.social-list {
  list-style: none;
  padding: 0;
}
.social-list li {
  display: inline-block;
}
.social-list li:before {
  content: none;
}
.fixed-social {
  position: fixed;
  top: 40vh;
  right: 5vh;
  z-index: 25;
}
.fixed-social li {
  display: block;
}
.share-bar {
  margin: 2em 0;
}
.share-bar .social-link {
  background: #fff;
  border: 0.04em solid #222;
  color: #222;
  padding-top: 0.75em;
}
.share-bar li ~ li {
  margin-left: 1em;
}
/* FOOTER STYLES */
.address {
  padding-top: 3vh;
}
.address p {
  padding: 0;
}
.cc {
  font-size: 0.7em;
}
.cc img {
  width: 10vh;
  margin-top: 0;
  padding-top: 1vh;
}
.footer {
  align-items: center;
  background-color: #222;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vh 1em;
  text-align: center;
  width: 100%;
}
.footer p, .footer h3 {
  color: inherit;
  text-align: center;
}
.footer .cart {
  display: none;
}
.equal-col {
  box-sizing: border-box;
  flex: 1 1 100%;
  max-width: 350px;
  vertical-align: top;
  padding: 0;
}
.footer .drop-trigger {
  padding-right: 0;
}
.footer .header-logo {
  background-color: inherit;
  flex: 0 0 auto;
}
.footer .header-logo img {
  height: 9vh;
  padding:0;
}
.footer .header-nav .dropdown:hover .drop-menu,
.footer .header-nav .drop-trigger:after {
  display: none;
}
.footer .header-nav > li {
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#mc_embed_signup {
  display: block;
  margin-top: 0;
  width: 100%;
}
#mc_embed_signup .clear, #mc_embed_signup button[type=submit] {
  width:100%;
}
.footer .subscribe {
  display: block;
}
.top-shortcut {
  background-color: #FFB300;
  border: none;
  border-radius: 99px;
  box-sizing: border-box;
  bottom: 2vh;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  opacity: 0.7;
  padding-top: 0.75em;
  position: fixed;
  right: 6vh;
  text-align: center;
  vertical-align: middle;
  width: 2.5em;
  z-index: 20;
}
.top-shortcut:active, .top-shortcut:hover {
  color: #fff;
  opacity: 1;
}

/* PAGE STYLES */
.page {
  margin: 10vh auto 15vh;
  max-width: 980px;
  width: 85vw;
}
.page h1 {
  font-size: 3em;
  padding-bottom: 1em;
  text-align: center;
}
.page h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  text-align: center;
}
.page h4 {
  margin: 1em 0;
}


/* BLOG STYLES */
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(34, 34, 34, 0.3);
  margin-top: 4em;
  padding-top: 4em;
}
.blog-posts .post-header {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}
.blog-posts .posts-image {
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin-bottom: 1.5em;
}
.blog-title-list {
  padding: 0;
}
.blog-title-list li:before{
  content: none;
}
/* POST STYLES */
.google-map {
  background-position: center;
  text-align: center;
  height: 50vh;
  margin-top: 5vh;
}
.portrait-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  width: 50%;
}
.portrait-photo .caption {
  padding-top: 1em;
}
.post {
  width: 100%;
}
.post li {
  line-height: 2;
  margin: 0;
}
.post .quote {
  letter-spacing: 0.1em;
  line-height: 2;
  font-size: 1.3rem;
  font-style: italic;
  margin: 2em 2em 1em 2em;
  text-align: justify;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
  text-transform: capitalize;
}
.post-aside {
  border: 3px dashed #057D9F;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
  clear: both;
  font-size: 0.8em;
  margin: 0 0 2em 2em;
  overflow-x: hidden;
  padding: 1em 2em;
  width: 15vw;
}
.post-aside ul {
  list-style: none;
}
.post-aside li {
  margin-bottom: 1em;
}
.post image {
  padding: 0;
  margin: 0;
}
.post-aside a {
  color: #555;
  font-weight: bold;
  text-transform: capitalize;
}
.post-aside a:hover, .page a:active {
  color: #057D9F;
}
.post-byline {
  font-size: 0.9rem;
  font-style: italic;
  margin-right: 2em;
}
.post-content,
.post-footer {
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.post-content {
  font-size: 1.1rem;
  line-height: 2;
}
.post-footer {
  border-top: 1px solid rgba(34, 34, 34, 0.3);
  font-size: 0.8em;
  font-style: italic;
  margin-top: 3em;
  padding-top: 2em;
}
.post-nav {
  margin-top: 4em;
  text-align: center;
}
.policy {
  margin-bottom: 1em;
  padding-top: 4em;
}

/* BROWSE BY REGION STYLES */
.region-posts {
  margin-bottom: 10em;
}
.by-region .post-tags {
  font-size: 0.75em;
  font-style: italic;
}
.by-region ~ .by-region {
  margin-top: 2em;
  padding-top: 2em;
}
.patagonia-map svg {
  max-height: 90vh;
  width: 100%;
  background-position: center;
  margin: 2em 0;
}
.patagonia-map g a {transition: 0.6s opacity;}
.patagonia-map g a:hover, .patagonia-map g a:active {opacity: 0.5;}
.patagonia-map-container {
  text-align: center;
}
.patagonia-map-container a {
  font-size: 0.8em;
}

/* TAG STYLES */
.tag-posts {
  margin-bottom: 10em;
}
.by-tag .post-tags {
  font-size: 0.75em;
  font-style: italic;
}
.by-tag ~ .by-tag {
  margin-top: 2em;
  padding-top: 2em;
}
.site-tag a {
  display: inline-block;
}
.tag-cloud {
  margin-bottom: 1em;
}
.page > .tag-cloud {
  margin: 1em auto 5em auto;
  border: 3px dashed #066C6C;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1em;
  max-width: 50vh;
  text-align: center;
}

/* STORE STYLES */
.cart {
  padding: .25em .5em;
  border: 2px solid #FFB300;
  border-radius: 4px;
}
.fa-shopping-cart {
  color: #FFB300;
}
/* MOBILE STYLES */
@media (max-width: 1200px) {
  .header-logo img {
    height: 6vh;
  }
  .footer .header-logo img {
    height: 6vh;
  }
  .full-hero {
    padding: 8vh;
  }
  .hero-home {
    height: 50vh;
  }
  .columns {
    flex-direction: column;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .columns .productTable {

  }
  .large-col {
    padding-left: 0;
    padding-top: 2em;
  }
  .small-col {
    padding-top: 1vh;
  }
  .blog-column {
    width: 80vw;
  }
  /* GALLERY STYLES */
  .gallery {
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 0;
  }
  .gallery .gallery-thumbs {
    flex: 1;
    height: auto;
    white-space: nowrap;
    width: 100vw;
  }
  .gallery-thumbs > div {
    display: inline-block;
  }
  .gallery-thumbs img {
    height: 7vh;
    margin: 0 10px 0 0;
    width: auto;
  }
  .gallery .gallery-photo {
    padding-top:0;
    margin-top:0;
  }
}
@media (max-width: 975px) {
  h1 {
    margin-bottom: 0;
    padding-bottom: .1em;
  }
  html {
    padding: 0;
  }
  a:active {
    background-color: rgba(255,255,255,0.1);
  }
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after, .post-aside, .top-shortcut, .cc-text {
    display: none;
  }
  .page {
    margin-top: 5vh;
  }
  .page h2 {
    margin-top: 1em;
  }
  /* HEADER STYLES */
  .header {
    flex-direction: row;
    height: 11vh;
    padding-top: 0vh;
    padding-bottom: 1vh;
  }
  .header-nav {
    padding: 0;
  }
  .header-logo {
    padding-left: 2em;
    padding-top: 0;
    position: relative;
    text-align: left;
  }
  .header-logo img {
    height: 8vh;
  }
  .nav-links a {
    font-size: 3.25vw;
  }
  /* MOBILE MENU */
  .mobile-only a {
    display: inline-block;
  }
  .show-mobile-menu {
    display: block;
    float: right;
    font-size: 1.3em;
    margin-top: 0;
    padding: 3em 3em 1.5em 1.5em;
    position: relative;
  }
  .header-nav {
    background-color: #fff;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 20;
  }
  .header-nav > li {
    display: block;
    margin-top: 1.5em;
    margin-left: 0;
  }
  .header-nav li ~ li {
    border: 0;
    padding: 0;
  }
  .header-nav li:first-child {
    margin-top: 1em;
  }
  .header-nav li:last-child {
    margin-bottom: 1em;
  }
  .langselect li {
    padding-left: 0;
  }
  /* HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #fff;
    box-sizing: border-box;
    color: #555;
    content: "x";
    font-weight: bold;
    left: 0;
    margin-right: 2em;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
    z-index: 21;
  }

  /* BLOG STYLES */
  .post-byline {
    display: block;
    margin-bottom: 1em;
    margin-right: 0;
  }
  .page h1 {
    font-size: 2em;
  }

  /* SOCIAL STYLES */
  .fixed-social {
    display: none;
  }
  .social-list {
    display: block;
  }

  /* HOME STYLES */
  .full-hero {
    padding: 8vh;
  }
  .full-hero h1 {
    padding-top: 15vh;
  }
  .full-hero h1, .full-hero h2 {
    letter-spacing: 0.25em;
  }
  /* PRODUCT STYLES */
  .columns {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  /* FOOTER STYLES */
  .footer {
    flex-direction: column;
  }
  .footer .show-mobile-menu, .footer-contact, .footer .header-logo {
    display: none;
  }
}
@media (max-width: 800px) {
  .hero-posts {
    height: 45vh;
  }
}
@media (max-width: 500px) {
  ul {
    padding: 0;
  }
  .post .quote {
    letter-spacing: 0.05em;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .header {
    padding-top: 3vh;
    padding-bottom: 4vh;
  }
  .heading-logo img {
    padding: 0;
  }
  .full-hero {
      padding: 7vh 2vh;
  }
  .full-hero h1 {
    letter-spacing: .1em;
  }
  .full-hero h2 {
    padding-bottom: 1rem;
  }
  .full-hero h3 {
    font-size: 1.4rem;
    letter-spacing: 0;
  }
  .hero-home {
    background-image: url(/assets/images/heros/hero-home-mobile.jpg);
    height: 60vh;
  }
}
@media (max-width: 400px) {
  .full-hero h1 {
    font-size: 2rem;
  }
  .full-hero h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 350px) {
  .social-label {
    display: none;
  }
}
