---
layout: default
ref: index
permalink: "/es/"

---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="full-hero hero-home">
</div>
<div class="callout-story">
  <div class="callout-copy">
    <h1 class="callout-title">bienvenido a sóijen</h1>
    <p>Patagonia es vasta y salvaje. Lo que algunas veces hace difícil encontrar información sobre las rutas no tan conocidas.</p>
    <p>En Sóijen somos aventureros de actividades al aire libre, quienes conectamos otros exploradores con los lugares inexplorados de la Patagonia. </p>
    <p>Queremos trabajar junto a viajeros, agencias, y otros amantes de la Patagonia para promocionar y cuidar esta tierra única.</p>
    <h1 class="callout-title"><i class="fa fa-pagelines" aria-hidden="true"></i></h1>
  </div>
</div>
{% include youtubePlayer.html id="xbf79ebG8h4" %}
<div class="full-hero hero-home2">
  <div class="hero-content">
    <h1>Viajeros</h1>
    <h2><a href="/es/patagonia-unexplored">Aquí comienza tu aventura</a></h2>
  </div>
</div>
