---
title: Sóijen
description: En Sóijen creamos diseños inspirados por el aire libre para motivarte en tu próxima aventura - ya sea en las montañas de la Patagonia o más allá.
layout: default
lang: es
permalink: /es/
ref: index
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="full-hero hero-home">
</div>
<div class="full-hero">
  <h2 style="text-decoration: underline;">BIENVENIDO A SÓIJEN</h2>
  <h3>En Sóijen creamos diseños inspirados por el aire libre para motivarte en tu próxima aventura - ya sea en las montañas de la Patagonia o más allá.</h3>
  <h2><i class="fa fa-pagelines"></i></h2>
</div>
<div class="full-hero">
  <h2>NUESTROS NUEVOS DISEÑOS</h2>
  <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products limit: 5 offset: 7 %}
      {% if product.stock != 0 %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
  </div>
  <h4><a href="/es/store/" title="Todos los productos">ver más...</a></h4>
</div>
<div class="full-hero hero-home2">
  <h3>¿Que estás esperando?</h3>
  <h1>EMPIEZA TU RECORRIDO</h1>
  <div class="action-button"><a href="/es/maps-collection/">Colección La Patagonia</a></div>
</div>
<div class="full-hero">
  <div class="columns">
    <div class="small-col">
      <img src="/assets/images/trfflaurel.png" alt="laurel">
    </div>
    <div class="large-col">
      <h3>Motívate con nuestro video en el trekking más austral del mundo - Los Dientes de Navarino.</h3>
      <h3>Ganador de Mejor Filme Amateur en El Festival de Filmes Trail Running 2018.</h3>
      <h2><i class="fa fa-chevron-down"></i></h2>
    </div>
  </div>
</div>
<div class="videohome">
  {% include youtubePlayer.html id="DiRtfEN9dm0" %}
</div>
<div class="full-hero hero-donate">
    <h1>Inspírate. Disfruta. Y Contribuye.</h1>
    <h2>Juntos estamos plantando arboles en Chile y Patagonia.</h2>
    <div class="action-button"><a href="/es/about/#green">Aprende más</a></div>
</div>
<div class="full-hero">
  <h2>PUBLICACIONES RECIENTES</h2>
  <div class="columns">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts limit:3 %}
    <div class="blog-column">
      <a href="{{ post.url }}">
        <div class="posts-image" style="background-image:url({{ post.postHero }})">
          <h3>{{ post.title }}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <h4><a href="/es/blog/" title="Blog">ver más publicaciones...</a></h4>
</div>
