---
title: soijen
description: En Sóijen somos aventureros de actividades al aire libre, quienes conectamos otros exploradores con las regiones inexploradas de la Patagonia.
layout: default
permalink: /es/
ref: index
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="full-hero hero-home">
  <h1>SÓIJEN</h1>
  <h2>patagonia [un]explored</h2>
</div>
<div class="full-hero">
  <div class="columns">
    <div class="small-col">
      <h1><i class="fa fa-pagelines" aria-hidden="true"></i></h1>
    </div>
    <div class="large-col">
      <h2>Bienvenido a Sóijen</h2>
      <p>Patagonia es vasta y salvaje. Lo que algunas veces hace difícil encontrar información sobre las rutas no tan conocidas.</p>
      <p>En Sóijen somos aventureros de actividades al aire libre, quienes conectamos otros exploradores con los lugares inexplorados de la Patagonia. </p>
      <p>Queremos trabajar junto a viajeros, agencias, y otros amantes de la Patagonia para promocionar y cuidar esta tierra única.</p>
    </div>
  </div>
</div>
<div class="full-hero hero-home2">
  <h1>Viajeros</h1>
  <div class="action-button"><a href="/es/patagonia-unexplored">Aquí Comienzan Sus Aventuras</a></div>
</div>
<div class="full-hero videohome">
  {% include youtubePlayer.html id="OnRUcMTAdvc" %}
</div>
