---
title: Nuestros Productos | Soijen
description: Ver nuestra selección de productos inspirados por el aire libre.
layout: products
permalink: /es/store/
ref: store
---
<div class="page">
  <h1>Nuestros Productos</h1>
  <div class="columns">
    <div class="product-column">
      <div class="product product-type"><a href="/store/cards-letters/">Tarjetas + Papelería</a></div>
      <div class="product product-type"><a href="/store/notebooks-notepads/">Cuardernos + Blocs</a></div>
      <div class="product product-type"><a href="/store/stickers/">Stickers</a></div>
      <div class="product product-type"><a href="/store/prints-posters/">Posteres + Impresiones</a></div>
      <div class="product product-type"><a href="/store/apparel/">Ropa</a></div>
      <div class="product product-type"><a href="/store/bags-pouches/">Bolsas + Estuches</a></div>
      <div class="product product-type"><a href="/store/other-goods/">Otros Productos</a></div>
      <div class="product product-type">o <a href="/store/collections" title="explore region collections">EXPLORAR LAS COLECCIÓNES REGIONALES</a></div>
    </div>
  </div>
  <div class="columns">
    <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
            {% if product.category contains "aventura" %}
                {% include product.html %}
            {% endif %}
        {% endfor %}
    </div>  
  </div>
</div>