---
title: Custom Design Portfolio | Soijen
description: Our portfolio of work.
layout: default
permalink: /about/design-portfolio/
ref: design-portfolio
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>

<div class="full-hero">
<h2>Custom Design Portfolio</h2>
{% assign portfolio=site.portfolio | where:"lang", page.lang %}
{% for item in portfolio %}
  {% if item.category contains "custom-design" %}
  <div class="columns">
    <div class="small-col">
        <h3>{{ item.title }}</h3>
        <div class="portfolio-tag">
          {% for tag in item.tags %}
            <span class="tag">{{ tag }} </span>
          {% endfor %}
        </div>
        <div>{{ item.description }}</div>
    </div>
    <div class="large-col">
      <img src="{{ item.image }}" alt="{{ item.title }}" class="thumbnail prod-image"/>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
