---
title: Nuestros Diseños | Sóijen
description: Nuestros diseños
layout: products
permalink: /es/store/
ref: store
---
<div class="page">
  <h1>Nuestros Diseños</h1>
    <h2>Impresión Artística y Posters</h2>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "art-print" and product.category contains "states" %}
        {% if product.category contains "patagonia" %}{% else %}
          {% include product.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "art-print" %}
        {% if product.category contains "patagonia" %}{% else %}
          {% if product.category contains "states" %}{% else %}
            {% include product.html %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "art-print" and product.category contains "patagonia" and product.category contains "illustration" %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "art-print" and product.category contains "patagonia" %}
        {% if product.category contains "illustration" %}{% else %}
        {% include product.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <h2>Postales</h2>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "postcard" %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>
    <h2>Bolsas Reutilizables y Estuches</h2>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "tote" and product.category contains "adventure-pup" %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "tote" %}
        {% if product.category contains "adventure-pup" %}{% else %}
          {% include product.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <h2>Tarjetas de Saludo</h2>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "cards" %}
        {% if product.category contains "states" %}{% else %}
          {% if product.category contains "adventure-pup" %}{% else %}
            {% include product.html %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "cards" and product.category contains "adventure-pup"%}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>
    <div class="columns product-column">
    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
      {% if product.category contains "cards" and product.category contains "states" %}
        {% include product.html %}
      {% endif %}
    {% endfor %}
    </div>
  <h2><i class="fa fa-pagelines"></i></h2>
  <a name="partners" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
  <div class="columns">
    <div class="small-col">
      <img src="/assets/images/products/instore.jpg" alt="Sóijen in stores">
    </div>
    <div class="large-col">
      <h1>Encuéntranos en Tiendas</h1>
      <p>Estamos orguillosos de trabajor con negocios locales en la Patagonia. Encuentra nuestros diseños y productos en las tiendas abajo.</p>
      <h3>Puerto Natales, Chile</h3>
        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Mandala Andino</strong> Manuel Bulnes 301</p>
        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Day Zero</strong> Baquedano 955</p>
      <h3>Punta Arenas, Chile</h3>
        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Casa La Porfía</strong> Pdte. Federico Errázuriz 928</p>
        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>La Galería</strong> Avenida Colón 511</p>
      </br>
      <p>¿Tienes una tienda y quieres ofrecer nuestros productos? <a href="/es/wholesale/" title="Distribuidores">Visita nuestra página para distribuidores</a>.</p>
    </div>
  </div>
</div>
