---
title: Nuestras Colecciones | Soijen
description: Ver nuestras colecciones de productos.
layout: products
permalink: /es/store/collections/
ref: collections
---
<div class="page">
  <h1>Nuestras Colecciones de Productos</h1>
  {% include collections.html %}
  <h4>o ver <a href="/es/store" title="todos nuestros productos">TODOS NUESTROS PRODUCTOS</a></h4>

  <a name="la-aventura" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
  <h2>COLECCIÓN AVENTURA</h2>
  <div class="columns">
    <div class="product-column">
      {% assign products=site.products | where:"lang", page.lang %}
      {% for product in products %}
        {% if product.category contains "aventura" %}
            {% include product.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <a name="patagonia" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
  <h2>COLECCIÓN QUERIDO PATAGONIA</h2>
  <div class="columns">
    <div class="product-column">
      {% assign products=site.products | where:"lang", page.lang %}
      {% for product in products %}
        {% if product.category contains "patagonia" %}
            {% include product.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <a name="vermont" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
  <h2>COLECCIÓN QUERIDO VERMONT</h2>
  <div class="columns">
    <div class="product-column">
      {% assign products=site.products | where:"lang", page.lang %}
      {% for product in products %}
        {% if product.category contains "vermont" %}
          {% include product.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
