---
layout: default
head:
  gallery.html
---
<div class="page">
  <div class="product-details">
  <div class="columns gallery">
    <div class="small-col gallery-thumbs" id="gallery-thumbs">
      <div class="current">
        <img src="{{ page.imagePath }}/1.jpg" alt="{{ page.name }}" class="thumbnail"
        data-large-version="{{ page.imagePath }}/1.jpg"/>
      </div>
      <div>
        <img src="{{ page.imagePath }}/2.jpg" alt="{{ page.name }}" class="thumbnail"
        data-large-version="{{ page.imagePath }}/2.jpg"/>
      </div>
      {% if page.image3 %}
      <div>
        <img src="{{ page.imagePath }}/3.jpg" alt="{{ page.name }}" class="thumbnail"
        data-large-version="{{ page.imagePath }}/3.jpg"/>
      </div>
      {% endif %}
      {% if page.image4 %}
      <div>
        <img src="{{ page.imagePath }}/4.jpg" alt="{{ page.name }}" class="thumbnail"
        data-large-version="{{ page.imagePath }}/4.jpg"/>
      </div>
      {% endif %}
      {% if page.image5 %}
      <div>
        <img src="{{ page.imagePath }}/5.jpg" alt="{{ page.name }}" class="thumbnail"
        data-large-version="{{ page.imagePath }}/5.jpg"/>
      </div>
      {% endif %}
      {% if page.image6 %}
      <div>
        <img src="{{ page.imagePath }}/6.jpg" alt="{{ page.name }}" class="thumbnail"
        data-large-version="{{ page.imagePath }}/6.jpg"/>
      </div>
      {% endif %}
      {% if page.image7 %}
      <div>
        <img src="{{ page.imagePath }}/7.jpg" alt="{{ page.name }}" class="thumbnail"
        data-large-version="{{ page.imagePath }}/7.jpg"/>
      </div>
      {% endif %}
      {% if page.image8 %}
      <div>
        <img src="{{ page.imagePath }}/8.jpg" alt="{{ page.name }}" class="thumbnail"
        data-large-version="{{ page.imagePath }}/8.jpg"/>
      </div>
      {% endif %}
      {% if page.image9 %}
      <div>
        <img src="{{ page.imagePath }}/9.jpg" alt="{{ page.name }}" class="thumbnail"
        data-large-version="{{ page.imagePath }}/9.jpg"/>
      </div>
      {% endif %}
    </div>
    <div class="large-col gallery-photo" id="gallery-photo">
      <img src="{{ page.imagePath }}/1.jpg" alt="{{ page.name }}" class="thumbnail"/>
    </div>
  </div>
  <div class="product-description">
    <div class="full-hero">
      <h2>{{ page.name }}</h2>
      <!--<button class="snipcart-add-item"
        data-item-name="{{ page.name }}"
        data-item-id="{{ page.sku }}"
        data-item-image="{{ page.image }}"
        data-item-url="{{ page.url }}"
        data-item-price="{{ page.price }}">
        {{site.t[page.lang].buy}}
      </button>-->
      <div class="columns">
        <div class="small-col prod-attr">
          <!--<p>
            <strong>
              {{site.t[page.lang].price}}:
            </strong>
            ${{ page.price }} USD
          </p>-->
          <p>
            <strong>
              {% if page.dimensions %}
                {{site.data.translations.t[page.lang].dimensions}}:
              {% endif %}
            </strong>
              {{ page.dimensions}}
          </p>
          <p>
            <strong>
              {{site.data.translations.t[page.lang].materials}}:
            </strong>
              {{ page.materials}}
          </p>
          <div class="action-button"><a href="{{ page.etsy }}" title="{{ page.name }}">{{site.data.translations.t[page.lang].buy}}</a></div>
        </div>
        <div class="large-col prod-descr">
          {{ page.content }}
        </div>
      </div>
      {% include greenFooter.html %}
    </div>
    <div class="post-nav">
      <!--<div class="policy">
        {% if page.lang == 'en' %}
        Flat rate shipping: $6 US, $16 Canada and $35 International (USD).</br>
        Prices do not include duty fees and taxes for shipments outside of the US.</br>
        30-day returns and exchanges on unused tote bags. All poster sales are final.</br>
        {% endif %}
        {% if page.lang == 'es' %}
        Precio estandar de envio: $6 EEUU, $16 Canadá y $35 Internacional (USD).</br>
        Los precios no incluyen derechos de aduana e impuestos por compras afuera de los EEUU.</br>
        30 días para devoluciones y cambios en bolsas no ocupadas. Ventas de posters son todas finales.</br>
        {% endif %}
      </div>-->
      {% if page.lang == 'en' %}<a href="/store/" title="Our Products"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return to our products</a>{% endif %}
      {% if page.lang == 'es' %}<a href="/es/store/" title="Nuestros Productos"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver a nuestros productos</a>{% endif %}
    </div>
  </div>
  </div>
</div>
