---
title: Otros Productos | Soijen
description: Otros Productos
layout: products
permalink: /es/store/other-goods/
ref: store-other-goods
---
<div class="page">
  <h1>Otros Productos</h1>
  {% include shop-return.html %}
    
  <div class="columns">
    <div class="product-column">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
            {% if product.category contains "other-goods" and product.category contains "aventura" %}
                {% include product.html %}
            {% endif %}
        {% endfor %}
    </div>  
  </div>
</div>
