---
title: The Maps Collection | Sóijen
description: Browse our collection inspired by Patagonia.
layout: products
permalink: /maps-collection/
ref: maps-collection
---
<div class="page">
  <h1>The Patagonia Collection</h1>
  <h2>Check out our new collection with designs inspired by maps and icons of Patagonia.</h2>
  <h2>Postcards</h2>
  <div class="columns">
  {% assign products=site.products | where:"lang", page.lang %}
  {% for product in products %}
    {% if product.category contains "postcard" %}
      {% include product.html %}
    {% endif %}
  {% endfor %}
  </div>
  <h2>Tote bags</h2>
  <div class="columns">
  {% assign products=site.products | where:"lang", page.lang %}
  {% for product in products %}
    {% if product.category contains "tote" %}
      {% include product.html %}
    {% endif %}
  {% endfor %}
  </div>
  <h2>Posters</h2>
  <div class="columns">
  {% assign products=site.products | where:"lang", page.lang %}
  {% for product in products %}
    {% if product.category contains "poster" %}
      {% include product.html %}
    {% endif %}
  {% endfor %}
  </div>
</div>
