---
title: Distribuidores | Soijen
description: Informacíon para distribuidores sobre ventas al por mayor.
layout: default
permalink: /es/wholesale/
ref: retailers
---
<div class="fixed-social">
  <ul class="social-list">
    {% include social-links.html %}
  </ul>
</div>
<div class="page">
<h1>Distribuidores</h1>
<a name="partners" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
<div class="columns">
  <div class="large-col">
    <p>Encuéntranos en las siguientes tiendas:</p>
    </br>
    <p>Puerto Natales, Chile</p>
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Mandala Andino</strong> Manuel Bulnes 301</p>
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Day Zero</strong> Baquedano 955</p>
    <p>Punta Arenas, Chile</p>
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>Casa La Porfía</strong> Pdte. Federico Errázuriz 928</p>
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> <strong>La Galería</strong> Avenida Colón 511</p>
  </div>
  <div class="small-col">
    <img src="/assets/images/products/instore.jpg" alt="Soijen in stores">
  </div>
</div>
<div class="full-hero">
  <h2><i class="fa fa-pagelines"></i></h2>
  <h2>¿Quieres ver nuestros productos en tu tienda?</h2>
    Ofrecemos precios al por mayor.
    Escribe un mensaje usando el formulario siguiente o contáctanos a info<i class="fa fa-at"></i>soijen.com.
  {% include contactForm.html %}
</br>O contáctanos por telefono Lunes a Viernes 9-17 (EST).</br></br>
  {% include phone.html %}
  {% include address.html %}
</div>
</div>
