---
layout: default
title: patagonia [un]explored
description: Guide of off-the-beaten-path outdoor activities in Patagonia
permalink: /patagonia-unexplored/
ref: patagonia-unexplored
---
<div class="page blog-index">
  <h1>Patagonia [un]explored</h1>
  <div class="patagonia-map-container">
    <p>Choose a region on the map below to get started:</p>
    {% include patagonia-map.html %}
    <a href="#PN">[Puerto Natales Region]</a>
    <a href="#PW">[Puerto Williams Region]</a>
    <a href="#PA">[Punta Arenas Region]</a>
    <a href="#TDF">[Tierra del Fuego Region]</a>
  </div>
  <div class="region-posts">
    <h2 class="region-header"><a name="PN"><i class="fa fa-anchor" aria-hidden="true"></i></a></h2>
    <h2 class="region-header">Puerto Natales Region</h2>
    <p>Coming soon...</p>
  </div>
  <div class="region-posts">
    <h2 class="region-header"><a name="PW"><i class="fa fa-anchor" aria-hidden="true"></i></a></h2>
    <h2 class="region-header">Puerto Williams Region</h2>
    {% include region-PW.html %}
  </div>
  <div class="region-posts">
    <h2 class="region-header"><a name="PA"><i class="fa fa-anchor" aria-hidden="true"></i></a></h2>
    <h2 class="region-header">Punta Arenas Region</h2>
    {% include region-PA.html %}
  </div>
  <div class="region-posts">
    <h2 class="region-header"><a name="TDF"><i class="fa fa-anchor" aria-hidden="true"></i></a></h2>
    <h2 class="region-header">Tierra del Fuego Region</h2>
    {% include region-TDF.html %}
  </div>
</div>
