---
title: Regiones | Soijen
description: Buscar aventuras en la Patagonia por region.
layout: default
permalink: /es/patagonia-unexplored/
ref: patagonia-unexplored
---
<div class="page">
  <h1>Buscar por Región</h1>
  <h2>Elige una región en el mapa para comenzar.</h2>
  <div class="patagonia-map-container">
    {% include patagonia-map.html %}
    <a href="#PN">[Puerto Natales Region]</a>
    <a href="#PW">[Puerto Williams Region]</a>
    <a href="#PA">[Punta Arenas Region]</a>
    <a href="#TDF">[Tierra del Fuego Region]</a>
  </div>
  <div class="region-posts">
    <a name="PW" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="region-header">Región de Puerto Williams</h2>
    {% include region-PW.html %}
  </div>
  <div class="region-posts">
    <a name="PA" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="region-header">Región de Punta Arenas</h2>
    {% include region-PA.html %}
  </div>
  <div class="region-posts">
    <a name="TDF" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="region-header">Región de Tierra del Fuego</h2>
    {% include region-TDF.html %}
  </div>
  <div class="region-posts">
    <a name="PN" class="anchor"><i class="fa fa-anchor" aria-hidden="true"></i></a>
    <h2 class="region-header">Región de Puerto Natales</h2>
    {% include region-PN.html %}
  </div>
</div>
